<span id="topo"></span>
<div class="button_voltarTopo" (click)="goToTop('#topo')"><i aria-hidden="true" class="fa fa-chevron-up"></i> Voltar ao topo</div>
<template ngFor let-tema [ngForOf]="temas" let-i="index">
    <p [id]="tema.tema.substr(0,2).toLowerCase()"></p>
    <div [class.borda]="i!=0" ></div>
    <div class="cabecalho" id="cont">
        <div class="cabecalho__celula-esquerda">
            <h2 class="cabecalho__titulo">{{tema?.tema}}</h2>
        </div>
            <div class="cabecalho__celula-direita cabecalho__celula-direita--maybe-empty">
            <p class="cabecalho__descricao" *ngIf="tema?.tema=='Educação'">
               
                </p>
            </div>
            
            
            <div class="cabecalho__celula-direita cabecalho__celula-direita--fader" [class.cabecalho__descricao__aberto]="textoAberto" (click)="textoAberto=!textoAberto">
                <!--Inserir CLICK na div toda, adicionando/removendo a classe "cabecalho__descricao__aberto"-->
                <p class="cabecalho__descricao">
                    {{ (getTextoAnalitico(tema?.tema) | async) }}
                </p>
                
                <div class="mobile-exclusive cabecalho__descricao__showhide">
                    <i class="fa fa-chevron-down cabecalho__descricao__bt--show" aria-hidden="true"></i>
                    <i class="fa fa-chevron-up cabecalho__descricao__bt--hide" aria-hidden="true"></i>
                </div>
            </div>
        
       
    </div>

    <panorama-painel *ngIf="tema.painel.length" [dados]="tema.painel" [localidade]="localidade"></panorama-painel>
    
    <div class="grafico" *ngFor="let grafico of tema.grafico">
        
        <h2 class="grafico__titulo">{{grafico.titulo}}<!--<i class="fa fa-info-circle grafico__info" aria-hidden="true"></i>--></h2>
        
        <div class="grafico__detalhes">
            <h3 *ngIf="grafico.subtitulo" class="grafico__subtitulo">{{grafico.subtitulo}}</h3>
            <div class="grafico__legenda" *ngIf="grafico.dados">
                <div class="grafico__legenda-item" *ngFor="let dado of grafico.dados; let i = index">
                    <div class="grafico__legenda-cor grafico__legenda-cor--{{i+1}}"></div>
                    <p class="grafico__legenda-texto">{{dado.indicador?.nome}}</p>
                </div>
            </div>
        </div>
        
        <grafico [localidade]="localidade" [indicadores]="grafico.dados" [tipoGrafico]="grafico.tipo"></grafico>
    </div>
</template>

