<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="cache-control"   content="no-transform"/>
        <meta name="google-site-verification" content="Y47alAVHJKGBilFQVckK9onCXD8CnYclCfeZBDSt9VM" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <meta name=""
        <meta >
        <title>IBGE | Brasil em Síntese</title>

        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href="/css/global.css">

        <!--font awesome-->
        <link rel="stylesheet" href="/css/font-awesome/font-awesome.min.css">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">-->

        <base href="/" />
        
        <script src="https://www.ibge.gov.br/home/js/inc_GA_portal.js" integrity="sha384-I5S99OHWWNGE/E9N5w66Kny2HTi31bsnWDeRtY3iVrS2sv07d4Y3jYL/CtZ+ebqR" crossorigin="anonymous"></script>
    </head>
    <body class="estado">
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
