<div class='conteudo'>
    
    <pesquisa-header (onDownload)="dados.downloadCSV();" (onOcultarValoresVazios)="ocultarValoresVazios($event)"></pesquisa-header>

    <pesquisa-tabela #dados *ngIf="tipo == 'tabela'" [pesquisa]="pesquisa$ | async"  [posicaoIndicador]="posicaoIndicador" [localidades]="localidades" [periodo]="periodo" [ocultarValoresVazios]="isOcultarValoresVazios"></pesquisa-tabela>
    <div *ngIf="tipo == 'grafico'">
         <pesquisa-indicadores #dados [pesquisa]="pesquisa$ | async"  [posicaoIndicador]="posicaoIndicador" [localidades]="localidades" [periodo]="periodo" [ocultarValoresVazios]="isOcultarValoresVazios"></pesquisa-indicadores>
        <div id="pesquisa-dados"> <pesquisa-graficos></pesquisa-graficos> </div>
    </div>
    <div *ngIf="tipo == 'cartograma'">
        <pesquisa-indicadores #dados [pesquisa]="pesquisa$ | async"  [posicaoIndicador]="posicaoIndicador" [localidades]="localidades" [periodo]="periodo" [ocultarValoresVazios]="isOcultarValoresVazios"></pesquisa-indicadores>
        <div id="pesquisa-dados"><pesquisa-cartograma [indicadores]="indicadores" [indicadorSelecionado]="indicador" [localidades]="localidades"></pesquisa-cartograma></div>
    </div>
    <div *ngIf="tipo == 'ranking'">
        <pesquisa-indicadores #dados [pesquisa]="pesquisa$ | async"  [posicaoIndicador]="posicaoIndicador" [localidades]="localidades" [periodo]="periodo" [ocultarValoresVazios]="isOcultarValoresVazios"></pesquisa-indicadores>
        <div id="pesquisa-dados"><pesquisa-ranking></pesquisa-ranking></div>
    </div>
   
</div>