<div class="component">
    <div class="comp__conteudo"  *ngIf="preview1 != '' && preview2 != '' && preview3 != ''">

        <div class="preview" (click)="mostrar()"  *ngIf="preview1 != '' && preview2 == '' && preview3 == ''">
            <!--apenas uma foto-->
            <img class="foto__preview" [src]="preview1"/>
        </div>

        <div class="preview" (click)="mostrar()" *ngIf="preview1 != '' && preview2 != '' && preview3 != ''">
            <!--3 ou mais fotos-->
            <div class="preview__foto-grande">
                <img class="foto__preview" [src]="preview1"/>
            </div>
            <div class="preview__foto-pequena">
                <img class="foto__preview" [src]="preview2"/>
            </div>
            <div class="preview__foto-pequena">
                <img class="foto__preview" [src]="preview3"/>
            </div>
        </div>

        <!--galeria-->
        <div class="overlay" *ngIf="mostraGaleria">
            <div class="area-click-1" (click)="esconder()"></div>
            <div class="galeria">
                <div class="galeria__cabecalho">
                    <h3 class="galeria__titulo">Fotos</h3>
                    <i class="fa fa-times galeria__close-icon" aria-hidden="true" (click)="esconder()"></i>
                </div>
                <div class="galeria__conteudo" scroll #scroll$="scrollDirective">
                    <template ngFor let-foto let-idx="index" [ngForOf]="fotos">
                        <div class="galeria__miniatura-cont" (click)="detalhe(idx)">
                            <div class="galeria__miniatura-overlay">
                                <p class="galeria__miniatura-titulo">{{ fotos[idx].TITULO }}</p>
                            </div>
                            <img onScreen [scroll-event]="scroll$?.host$" (onScreenChange)="lazyLoad($event, idx)" class="galeria__miniatura"                      
                                [id]="'foto'+idx"/>
                        </div>
                    </template>
                </div>
            </div>
        </div>

        <!--foto grande-->
        <div class="overlay" *ngIf="mostraDetalhe">

            <div class="area-click-2" (click)="esconder()"></div>

            <i class="fa fa-chevron-left foto__seta-esquerda" aria-hidden="true" (click)="anterior()"></i>

            <div class="foto">
                <div class="foto__cabecalho">
                    <i class="fa fa-times foto__close-icon" aria-hidden="true" (click)="esconder()"></i>
                </div>
                <div class="foto__conteudo">
                    <img class="foto__imagem" [src]="imagem"/>
                </div>
                <div class="foto__rodape">
                    <h3 class="foto__titulo">{{titulo}}</h3>
                    <h4 class="foto__titulo">
                        <a [href]="detalhes" target="_blank" class="foto__link">Detalhes</a>
                        <span class="foto__link">|</span>
                        <a [href]="downloadLink" [download]="downloadNome" class="foto__link">Download</a>
                    </h4>
                </div>
            </div>

            
            <i class="fa fa-chevron-right foto__seta-direita" aria-hidden="true" (click)="posterior()"></i>

        </div>

    </div>
</div>