.content-card{
    /* float: left; */
    height: 312px;
    margin-bottom: 30px;
    display: inline-block;
}

.card{
    border: 1px solid #B3B3B3;
    border-top: 3px solid #B3B3B3;
    width: 238px;
    height: 277px;
    padding: 10px;
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
	-webkit-transition: all 230ms ease-in;
	-moz-transition: all 230ms ease-in;
	-ms-transition: all 230ms ease-in;
	-o-transition: all 230ms ease-in;
	transition: all 230ms ease-in;
    white-space: normal;
}

.card:hover{
	margin-top: -5px;
	box-shadow: 3px 5px 20px #ccc;
	-webkit-transition: all 230ms ease-in;
	-moz-transition: all 230ms ease-in;
	-ms-transition: all 230ms ease-in;
	-o-transition: all 230ms ease-in;
	transition: all 230ms ease-in;
}

.selecionar {
	cursor:pointer;
	height:90px;
	width:100%;
	}
	
.cards .card:nth-child(1) {
    margin-left: 0px;
}

.card__titulo{
    float: left;
    font-size: .8em;
    font-weight: bold;
    margin-top: 3px;
	margin-right: 10px;
	-moz-transition: all 230ms ease-in;
	-ms-transition: all 230ms ease-in;
	-o-transition: all 230ms ease-in;
	transition: all 230ms ease-in;
}

.card__nota{
    float: left;
    color: #29ABE2;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -2px;
	-moz-transition: all 230ms ease-in;
	-ms-transition: all 230ms ease-in;
	-o-transition: all 230ms ease-in;
	transition: all 230ms ease-in;
}

.card_unidade {
	font-size: 0.6em;
	}

.card__sub-titulo{
    font-size: .7em;
    clear: both;
    float: left;
    margin-top: -5px;
}

.card__reacao{
    clear: both;
    margin-top: 7px;
    float: left;
}

.card__reacao__bola{
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    margin-right: 4px;
}

.card__reacao__bola:nth-child(1){
    background-color: #9E005D;
}

.card__reacao__bola:nth-child(2){
    background-color: #662D91;
}

.card__reacao__bola:nth-child(3){
    background-color: #0071BC;
}

.card__reacao__bola:nth-child(4){
    background-color: #29ABE2;
}

.card__reacao__bola:nth-child(5){
    background-color: #00B061;
}

.card__comparando{
    font-size: .6em;
    clear: both;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
	-moz-transition: all 230ms ease-in;
	-ms-transition: all 230ms ease-in;
	-o-transition: all 230ms ease-in;
	transition: all 230ms ease-in;
}

.card__regua-comparacao{
    font-size: .6em;
}

.card__regua-comparacao__regua{
    position: relative;
    background-image: url(./../../../../img/barra-compacarao.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 17px;
}

.card__regua-comparacao__regua--desabilitada{
    background-image: url(./../../../../img/barra-compacarao-cinza.png);
}

.card__regua-comparacao__regua--desabilitada div{
    display: none;
}

.card__regua-comparacao__regua__marcador{
    position: absolute;
    background-image: url(./../../../../img/seta-marca-comparacao.png);
    width: 11px;
    height: 11px;
}

button{
    border: none;
    background-color: #E6E6E6;
    padding: 2px 3px;
    font-size: .8em;
}

button .fa{
    color: #1B779B;
}

.card.selecionado{
    border-top-color: #F7931E;
    height: 312px;    
    width: 277px;
	box-shadow: 3px 5px 20px #ccc;
}

.selecionado .card__titulo{
    font-size: 1em;
    margin-top: 5px;
}

.selecionado .card__nota{
    font-size: 1.5em;
}

.selecionado .card__comparando{
    font-size: .8em;
    padding-top: 20px;
	-moz-transition: all 230ms ease-in;
	-ms-transition: all 230ms ease-in;
	-o-transition: all 230ms ease-in;
	transition: all 230ms ease-in;
}

.selecionado .card__regua-comparacao{
    font-size: .7em;
}

.selecionado .card__regua-comparacao__regua__marcador{
    width: 14px;
    height: 14px;
    background-size: 100% auto;
}

.notas__lista-container {
    margin-left: 128px;
    position: absolute;
    background: #fff;
    padding: 10px 15px 15px 26px;
    width: 200px;
    border: 1px solid #ccc;
    z-index: 2;
    margin-top: 56px;
    font-size: .9em;
}

.fontes__lista-container {
    position: absolute;
    background: #fff;
    padding: 10px 15px 15px 26px;
    width: 200px;
    border: 1px solid #ccc;
    z-index: 2;
    font-size: .9em;
    margin-left: -138px;
}

.area-click{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    display: none;
}

.area-click--visivel{
    display: block;
}

.botao{
    display: inline-block;

}
.n2s-shareContainer{
		float:right;
		}

.botao button{
    cursor: pointer;
}

.botao-container{
    text-align: right;
    margin-top: 25px;
}

@media screen and (max-width: 768px) {
    /*Mobile*/
    .content-card{
        float: none;
        height: auto;
        margin-bottom: 30px;
        display: block;
    }
    .card, .card.selecionado{
        float: none;
        margin: 0;
        width: 100%;
		height:auto;
    }
	.card:hover{
	margin-top: 0px;
	box-shadow: none;
	}
    .card__titulo{
    font-size: 1em;
    margin-top: 5px;
    }
    
   .card__nota{
        font-size: 1.5em;
    }
    
    .card__comparando{
        font-size: .8em;
        padding-top: 20px;
    }
    
    .card__regua-comparacao{
        font-size: .7em;
    }
    
   .card__regua-comparacao__regua__marcador{
        width: 14px;
        height: 14px;
        background-size: 100% auto;
    }
    .card.selecionado{
        height: auto;
        border-top-color: #B3B3B3;
		box-shadow:none;
    }
        
  
}