<table cellspacing="0" border='0' class='mobile-table'>
    <template ngFor let-indicador [ngForOf]="indicadores">
        <tr class='{{getStyleClass(indicador.posicao)}} mobile-tr linha' [class.aberto]="isListaAberta(indicador)" [class.sem-filho]="isFolha(indicador)" *ngIf="indicador.visivel && !(indicador.isVazio && isOcultarValoresVazios)">
            
            <td class='label' (click)="controlarExibicao(indicador)" [attr.colspan]="hasValue(indicador, periodo) ? 1 : 2"
                [class.selecionado]="indicador.id == indicadorComparacao">
                <div class="seta">
                    <i class="fa fa-chevron-right" aria-hidden="true" *ngIf="!isListaAberta(indicador)"></i>
                    <i class="fa fa-chevron-down" aria-hidden="true" *ngIf="isListaAberta(indicador)"></i>
                </div>
                <div class='label--com-acao'>{{ indicador.indicador }}<span class='mobile-unidade' *ngIf='indicador.unidade?.id'>({{ indicador.unidade?.id }})</span></div> 
                <div class='acoes'></div>
            </td>

            <td class="label" *ngIf="hasValue(indicador, periodo)" (click)="navegarPara(indicador.id)">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </td>
            
        </tr>
    </template>
    
    <div class="mensagem-vazio" *ngIf="indicadores && indicadores.length > 0 && indicadores[0].isVazio && isOcultarValoresVazios">
        Nenhum valor para exibir.
    </div>
</table>