/** GENERAL **/

html, body {
    height: 100%;
    background: transparent;
    color: hsl(0, 0, 38);
}

#wrapper {
    position: absolute;
    min-height: 100%;
    padding-bottom: 60px;
    padding-left: 50px;
    width: 100%;
}

h2 {
    font-size: 24px;
}

.button__action {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 21px;
    /* color: #fbb03b; */
    font-size: 1em;
    margin: 4% 0%;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-transition: background 200ms ease, color 200ms ease;
    -moz-transition: background 200ms ease, color 200ms ease;
    -ms-transition: background 200ms ease, color 200ms ease;
    -o-transition: background 200ms ease, color 200ms ease;
    transition: background 200ms ease, color 200ms ease;
}

.button__link {
    color: #00789d;
    border: none;
    background: transparent;
    cursor: pointer;
}

.search__field {
    font-size: 15px;
    line-height: 30px;
}

/** SPECIFIC **/

header {
    position: static;
    height: 60px;
    background-color: #1B779B;
    padding: 10px 40px;
    color: white;
}

.header__title {
    float: left;
    width: 40%;
    font-size: 24px;
    line-height: 35px;
}

.header__search {
    width: 30%;
    float: left;
}

.header__button {
    margin: 2px 0 0;
    font-size: 14px;
    float: right;
}

.banner__container {
    position: relative;
    background-color: lightgray;
    /*
    height: 0;
    padding-top: 42.50%; */
    overflow: hidden;
    height: 70vh;
    min-height: 520px;
    max-height: 650px;
}

.banner__content .button__action {
    color: #fbb03b;
    border-color: #fbb03b;
    font-size: 1.5em;
    font-weight: bold;
}

.banner__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url('../../img/saopaulo.jpg');
    background-size: 170% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.banner__content {
    position: absolute;
    width: 40%;
    top: 10%;
    left: 40px;
    top: 20%;
}

.banner__title {
    font-size: 45px;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
    font-weight: normal;
    line-height: 47px;
}

.banner__text {
    font-size: 1.2em;
    color: #fff;
}


.destaques__container {
    display: table;
    margin-bottom: 60px;
}

.destaques__item {
    position: relative;
    display: table-cell;
    font-size: 14px;
    width: 50%;
    padding: 20px 40px;
    padding-top: 45px;
}

.destaques__item__title {
    margin-bottom: 2em;
    border-top: 1px solid #00789d;
    color: #00789d;
    padding-top: 9px;
}

.destaques__item__text {
    margin-bottom: 3em;
}

.destaques__item__link {
    position: absolute;
    bottom: 10px;
    color: #00789d;
    text-align: right;
    width: calc(100% - 100px);
}

.mais-acessados {
    display: table;
    width: 100%;
    border-top: 1px solid gray;
    padding: 20px 40px 40px;
}

.mais-acessados__coluna {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    list-style: none;
}
.mais-acessados__coluna:first-of-type {
    padding-right: 20px;
}
.mais-acessados__coluna + .mais-acessados__coluna {
    padding-left: 40px;
}

.mais-acessados__coluna > li {
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

.mais-acessados__title {
    display: table-row;
    height: 60px;
}

.mais-acessados__nome-municipio {
    font-size: 15px;
}

.mais-acessados__variavel {
    font-size: 12px;
}

.mais-acessados__valor {
    font-weight: bold;
    font-size: 13px;
    margin-left: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e6e6e6;
    height: 70px;
    padding: 21px 40px;
}

.footer__text {
    float: left;
    width: 100%;
    line-height: 30px;
    font-weight: normal;
    font-size: 1.4em;
    text-align: center;
    font-size: 1.3em;
}

.footer__button {
    margin: 0;
    color: #00789d;
    border-color: #00789d;
    margin-right: 10px;
    font-size: .8em;
    margin-left: 20px;
}

/** UTILS **/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.fulljustify {
  text-align: justify;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1120px){
    .banner__item{
        background-size: 250% auto;
    }
    
    #wrapper {
        padding-left: 20px;
    }

}

@media screen and (max-width: 1100px){
    .banner__content{
        width: 60%;
    }
}


@media screen and (min-width: 1300px){
    .banner__content{
        width: 447px;
        left: calc(50% - 207px);
        top: calc(50% - 198px);
    }

    .banner__title{
        width: 100%;
        text-align: center;
        
    }

    .banner__content .button__action{
        margin-left: calc(50% - 95px);
        margin-top: 50px;
    }

    .destaques__container {
        margin-left: calc(50% - 650px);
        width: 1300px;
    }
}


@media screen and (max-width: 768px){
    #wrapper {
       padding-left: 0;
    }

    .banner__item{
        background-size: auto 100%;
    }

    .banner__content {
        width: 93%;
        left: 12px;
        top: 4%;
    }

    .banner__title{
        font-size: 37px;
        line-height: 40px;
        margin-top: 62px;
    }

    .destaques__item{
        display: inline-block;
        width: 100%;
        padding: 20px 14px;
    }

    .destaques__item__link{
        width: 100%;
        padding: 0px 37px;
    }

    footer{
        height: auto;
        padding: 20px;
    }

    .footer__button{
        margin-top: 10px;
    }
}