/** GENERAL **/

/* html, body {
    height: 100%;
    background: transparent;
    color: hsl(0, 0, 38);
} */

#wrapper {
    position: absolute;
    min-height: 100%;
    width: 100%;
    padding: 0px 20px;
    padding-bottom: 102px;
}


.container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.header{
    margin-top: 10px;
}

.header__voltar{
    text-decoration: underline;
}

nav.pesquisas{
    border-top: 2px solid #b0b0b0;
    margin-top: 30px;
    padding-top: 25px;
}

.pesquisas [type="button"] {
    background: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
}

nav ul{
    -moz-column-count: 2;
    -moz-column-gap: 3.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 3.5em;
     column-count: 2;
     column-gap: 3.5em;
   
}

nav ul li{
    list-style-type: none;
    /* float: left; */
    font-size: 1.4em;
    /*margin-bottom: 12px;*/
    /*display: inline-block;*/
}
nav ul li a{

    color:deepskyblue;
    font-size:.6em;
    position:relative;
    top:-.5em;
    margin:0;
}

nav ul li:nth-child(even){
    /* float: right; */
}

nav ul li::before{
    content: '>  ';
    margin-left: -1em;
}

h2{
    font-size: 1.8em;
    margin-bottom: 10px;
}

.header__descricao{
    /* background-image: url('../../img/iconePesquisa.png'); */
    background-image: url('../../img/pesquisas.svg');
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 150px;
    padding-left: 200px;
    margin-top: 24px;
}

.button__action {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 21px;
    /* color: #fbb03b; */
    font-size: 1em;
    margin: 4% 0%;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-transition: background 200ms ease, color 200ms ease;
    -moz-transition: background 200ms ease, color 200ms ease;
    -ms-transition: background 200ms ease, color 200ms ease;
    -o-transition: background 200ms ease, color 200ms ease;
    transition: background 200ms ease, color 200ms ease;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e6e6e6;
    height: 70px;
    padding: 21px 40px;
}

.footer__text {
    float: left;
    width: 100%;
    line-height: 30px;
    font-weight: normal;
    font-size: 1.4em;
    text-align: center;
    font-size: 1.3em;
}

.footer__button {
    margin: 0;
    color: #00789d;
    border-color: #00789d;
    margin-right: 10px;
    font-size: .8em;
    margin-left: 20px;
}



@media screen and (max-width: 768px){
    #wrapper {
        padding-left: 0;
    }

    .header__descricao{
        background-image: none;
        padding: 0px;
    }

    nav ul{
        -moz-column-count: 1;
        -moz-column-gap: 1em;
        -webkit-column-count: 1;
        -webkit-column-gap: 1em;
        column-count: 1;
        column-gap: 1em;
    }

    footer{
        height: auto;
        padding: 20px;
        font-size: 1.1em;
    }

    .footer__button{
        margin-top: 10px;
    }
}
.pesquisa_descricao{

  
  font-size: .6em;
 
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  padding-top:1em;
  max-height: 4.6em; 
  text-align: justify;  
  margin-right: -1em;
  padding-right: 1em;

}

.pesquisa_descricao:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
  padding:0;
  margin-right:.2em;
}

.pesquisa_descricao:after {
 
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}