<div class="estado-sintese">
    <div id="conteudo">
            <img src='/img/logo.png' class='logo'>
            <h1 class="estado">{{ estado?.nome }}</h1>
            <table id="municipios">
                <thead>
                    <tr>
                        <th>{{ "panorama_resumo__municipios" | l10n:lang }}</th>
                        <th>{{ "panorama_resumo__gentilico" | l10n:lang }}</th>
                        <th *ngFor="let indicador of indicadores">{{ indicador.titulo | l10n:lang }}</th>
                    </tr>
                </thead>
                <!--<tbody  *ngFor="let municipio of resumo.municipios;let i=index">-->

                <tbody>
                        <tr class="3300100 par">
                            <td class="nome">{{ municipio.nome }}</td>
                            <!--<td class="gentilico">{{ municipio.gentilico }}</td>-->

                            <td class="gentilico">{{resumo.gentilico }}</td>
                            <!--<td  *ngFor="let indicador of municipio.indicadores" >{{ indicador.valor | resultado}} <span *ngIf="indicador.valor!='-'">{{ indicador.unidade }}</span></td>-->

                            <td  *ngFor="let indicador of resumo.indicadores" >{{ indicador.valor | resultado}} <span *ngIf="indicador.valor!='-'">{{ indicador.unidade }}</span></td>
                        </tr>                
                </tbody>
                <tfoot>
                    <tr>
                        <td [attr.colspan]="indicadores && (indicadores.length+2)">
                             <div *ngFor="let fonte of fontes;let i=index">
                                 <br/>{{ "panorama_resumo__fonte" | l10n:lang }} {{i+1}} - {{fonte.indicador}}: {{fonte.descricao}} 
                             </div>   
                            <div *ngFor="let nota of notas;let i=index">
                                <br/>{{ "panorama_resumo__nota" | l10n:lang }} {{i+1}} - {{nota.indicador}}: {{nota.descricao}}

                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
    </div>
</div> 