<header>
    <div class="logo">
        <img src="img/logo.png" class='logo--desk'>
        <img src="img/logo_mobile.png" class='logo--mobile'>
    </div>
    
    <busca (buscaAberta)="seletor.fecharSeletor()"></busca>

</header>

<div id='container' [class.no__scroll--mobile]="menuAberto">

    <seletor-localidade #seletor="seletor-localidade" (isSeletorAberto)=handleSeletorAberto($event)></seletor-localidade>

    <aside class='aside--municipio' [class.localidade--static]="isHeaderStatic | async">
        <div id="localidade">
            <nav id='local'>
                <ul>
                    <template ngFor let-local [ngForOf]="locais | async" let-last="last">
                        <li *ngIf="!last">
                            <a [routerLink]="local.link">{{local.nome}}</a>
                        </li>
                        <li *ngIf="last">
                            <h1>{{local.nome}}</h1>
                        </li>
                    </template>
                </ul>
            </nav>

            <button (click)="seletor.abrirSeletor()">Alterar localidade</button>
            <button #abreMenuGlobal id='menu-principal'><i class="fa fa-bars" aria-hidden="true"></i></button>
        </div>

        <nav id="menu" [class.aberto]="menuGlobalAberto">
            <ul>
                <li routerLinkActive='menu--selecionado'>
                    <a style="display:block" [routerLink]="getLink('sintese')">Sintese</a>
                </li>
                
                <li routerLinkActive='menu--selecionado'>
                    <a style="display:block" [routerLink]="getLink('pesquisas')">Pesquisas</a>
                </li>

                <li routerLinkActive='menu--selecionado'>
                    <a style="display:block" (click)="abrirMenuPesquisa = !abrirMenuPesquisa">Pesquisas2</a>
                </li>
            </ul>
        </nav>

    </aside>

    <div class="conteudo__dados--com-scroll submenu">
        <submenu *ngIf="abrirMenuPesquisa === true" (closeMenu)="handleCloseMenu($event)"></submenu>
    </div>

    <router-outlet></router-outlet>

</div>