<div class="cabecalho">
    <div class="cabecalho__nome-pesquisa">
        <div class="nome-pesquisa">
            {{ pesquisa?.nome }}/
            <br/> 
            <span>
                <select>
                    <option *ngFor="let indicador of (pesquisa?.indicadores | async)">{{ indicador?.nome }}</option>
                </select>
            </span>
        </div>
        <div class="select-ano-container">
            Ano:
            <select class="select-ano" #ano>
                <option *ngFor="let periodo of pesquisa?.periodos"> {{ periodo.nome }} </option>
            </select>
        </div>
        <div class="notas" *ngIf="pesquisa?.periodos[ano.selectedIndex]?.notas.length">
            <div class="area-click" [class.area-click--visivel]="mostrarNotas" (click)="mostrarNotas=false"></div>
            <div class="notas__botao" (click)="mostrarNotas=true">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Notas
            </div>
            <div class="notas__lista-container" *ngIf="mostrarNotas">
                <ol>
                    <li *ngFor="let nota of pesquisa?.periodos[ano.selectedIndex]?.notas"> {{ nota }} </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="cabecalho__seletor-visualizacao-dados">
        <div class="cabecalho__seletor-visualizacao-dados__item selecionado"><i class="fa fa-table" aria-hidden="true"></i> TABELA</div>
        <!--<div class="cabecalho__seletor-visualizacao-dados__item"><i class="fa fa-bar-chart" aria-hidden="true"></i> GRÁFICOS</div>
        <div class="cabecalho__seletor-visualizacao-dados__item"><i class="fa fa-area-chart" aria-hidden="true"></i> SÉRIE HISTÓRICA</div>
        <div class="cabecalho__seletor-visualizacao-dados__item"><i class="fa fa-list-ol" aria-hidden="true"></i> RANKING</div>-->
    </div>
    <div class="cabecalho__visualizacao-dados">
        <div class="cabecalho__visualizacao-dados__item">
            {{ localidade?.nome }}
        </div>

        <busca-header (onLocalidade)="setaLocalidade1($event);"></busca-header>
        <busca-header (onLocalidade)="setaLocalidade2($event);"></busca-header>

        <div class="cabecalho__visualizacao-dados__item">
            <div class="area-click" [class.area-click--visivel]="mostrarOpcoes" (click)="mostrarOpcoes=false"></div>
            <div class="select__sub-menu">
                <div class="select__sub-menu__botao" (click)="mostrarOpcoes=true"><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                <div class="select__submenu-aberto" *ngIf="mostrarOpcoes">
                    <div><span><i class="fa fa-download fa-lg" aria-hidden="true"></i></span> Download</div>
                    <div><span><i class="fa fa-share-alt fa-lg" aria-hidden="true"></i></span> Compartilhar</div>
                </div>
            </div>
        </div>

    </div>
</div>