.submenu{
    list-style-type: none;
    background-color: #CCC;
    height: 100%;
    display: block;
    font-size: .9em;
}

.submenu__link{
    display: block;
    padding: 16px 32px;
    position: relative;
}

.submenu__item{
    background-color: #CCC;
    border-bottom: 1px solid #B2B2B2;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.submenu__item:hover{
    color: white;
    background-color: #333;
    /*border-bottom: 1px solid #676767;*/
    transition: background-color 0.3s, color 0.3s;
}

.submenu__item:last-child{
    border-bottom: none;
}

.submenu__item--selecionado{
    color: white;
    background-color: #333;
    /*border-bottom: 1px solid #676767;*/
}

.submenu__texto{
    width: 80%;
    display: inline-block;
}

.submenu__seta{
    color: #1B779B;
    position: absolute;
    right: 32px;
    top: 40%;
}

.submenu__sublink{
    display: block;
    padding: 16px 32px 16px 72px;
    position: relative;
}

.submenu__subitem{
    color: white;
    background-color: #4D4D4D;
    border-bottom: 1px solid #676767;
    transition: background-color 0.3s;
}

.submenu__subitem:hover{
    color: white;
    background-color: #1B779B;
    transition: background-color 0.3s;
}

.submenu__subitem:last-child{
    border-bottom: none;
}

.submenu__subitem--selecionado{
    color: white;
    background-color: #1B779B;
}

.submenu__subseta{
    color: #9B9B9B;
    position: absolute;
    right: 32px;
    top: 40%;
}

.submenu__subseta--selecionada{
    color: white;
}