<div class="topo" [ngClass]="{'comBandeira': localidade?.tipo == 'uf'}">    
    <!-- <div *ngIf="localidade?.tipo == 'uf'"> uf </div> -->
    <div class="topo__bandeira" *ngIf="localidade?.tipo == 'uf'">
        <!-- <img src="../img/bandeiras/{{localidade?.sigla}}.gif" alt=""> -->
        <img src="../img/bandeiras/{{localidade?.sigla}}.gif" alt="">
    </div>

    <div  *ngFor="let item of cabecalho; let idx = index" [ngClass]="{'topo__celula-esquerda': idx === 0, 'topo__celula-direita': idx === 1, 'topo__celula-linha': idx > 1}">
        <h3 class="topo__titulo">
            {{ item.titulo }} 
        </h3>
        <p class="topo__valor">
            {{ item.valor }}
        </p>
    </div>
</div>


<!-- Para fixar na rolagem, adicionar/remover a classe "resumo-fixo" na div abaixo -->
<div class='container-temas'>
    <template ngFor let-item let-idx="index" let-first="first" [ngForOf]="temas">
            <div *ngIf="first || temas[idx-1].tema !== item.tema" [ngClass]="'resumo__icons__'+idx" [ngClass]="{'resumo-fixo': isHeaderStatic | async}">

                <div class="mobile__exclusive temas__horizontais ">
                    <div class="lista__icone--mobile" (click)="fireTemaSelecionado('#'+item.tema.substr(0,2).toLowerCase())">
                        <!--Quando fixo, o menu de resumo precisa ter seus itens com margens esquerdas definidas individualmente.
                            Quando forem adicionados novos temas, deve-se criar novas classes "resumo__icos__X"
                            e se recalcular as margens de todas as anteriores-->
                        <!-- <img class="ico" [src]="icones[item.tema]" /> -->
                    </div>
                </div>
            </div>
    </template>
</div>

<!-- <table class="lista"  [class.hide-content]="temaAtual != '#'+item.tema.substr(0,2).toLowerCase()"> -->
<table class="lista">
<template ngFor let-item let-idx="index" let-first="first" [ngForOf]="temas">

        <tr *ngIf="first || item.tema !== temas[idx-1].tema" (click)="fireTemaSelecionado('#'+item.tema.substr(0,2).toLowerCase())" class="lista__cabecalho" [class.recolhido]="temaAtual != '#'+item.tema.substr(0,2).toLowerCase()">
            <th class="lista__icone">
                <!-- <img class="ico" [src]="icones[item.tema]" /> -->
                <img class="ico {{icones[item.tema]}}" src=''/>
            </th>

            <th class="lista__titulo" colspan="2">{{item.tema}}</th>
            <th class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></th>
        </tr>


        <tr class="lista__indicador" [class.hide-content]="temaAtual != '#'+item.tema.substr(0,2).toLowerCase()">
            <td></td>
            <td class="lista__nome">
                {{ item.titulo }}
                <small>{{ '[' + item.periodo + ']' }}</small>
            </td>
            <td class="lista__valor" colspan="2">
                {{ item.valor | resultado }}
                <span class="lista__unidade">{{ item.unidade }} &nbsp;</span>

                <div class="lista__nota" *ngIf="getNotaEspecial(cabecalho[0]?.valor, item.titulo)" >
                    <i (click)="nota = !nota" item.titulo class="fa fa-exclamation-triangle lista__nota__icone" aria-hidden="true"></i>
                    <!--<i (click)="nota = !nota" style='cursor:pointer; font-style: normal; font-size: 0.6em; vertical-align: 3px; color: #1b779b;'>
                        <i (click)="nota = !nota" item.titulo class="fa fa-exclamation-triangle lista__nota__icone" aria-hidden="true"></i>
                        NOTAS
                    </i>-->
                    <div class="lista__nota__content" *ngIf="nota">
                        {{getNotaEspecial(cabecalho[0].valor, item.titulo)}}
                    </div>
                </div>

            </td>
        </tr>
        <tr *ngIf="!last" class="lista__separador" [class.hide-content]="temaAtual != '#'+item.tema.substr(0,2).toLowerCase()">
            <td colspan="4">
                <div class="lista__linha"></div>
            </td>
        </tr>

    </template>
</table>

<div (click)="exibirFontesENotas = !exibirFontesENotas" class='fontes-e-nota-geral'>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ 'panorama_resumo__notas_e_fontes' | l10n:lang }}
</div>
<div (click)="exibirFiltroResumo = !exibirFiltroResumo" class='fontes-e-nota-geral' *ngIf="localidade && localidade.tipo && localidade.tipo=='uf'">
    <i class="fa fa-list" aria-hidden="true"></i> {{ 'panorama_gerar_resumo' | l10n:lang }}
</div>

<div class="modal_resumo_filtro" [ngClass]="{'exibir': exibirFiltroResumo}">
        <div class="modal_resumo_filtro_bg"></div>
        <div class="modal_resumo_filtro_bg_container">
            <div class="modal_resumo_titulo_header">
                <i class="fa fa-times botao_fechar" aria-hidden="true" (click)="exibirFiltroResumo = !exibirFiltroResumo"></i>
                <h2 class="modal_resumo_titulo">Resumo</h2>
                <p>Selecione até 6 indicadores para compor seu resumo.</p>
            </div>

            <div class="modal_resumo_content">
                <template ngFor let-item let-idx="index" let-first="first" [ngForOf]="temasModalFiltroPanorama">
                    <div class="modal_resumo_wrapTema">
                        <div class="modal_resumo__tema" *ngIf="first || (item.tema && item.tema) !== temasModalFiltroPanorama[idx-1].tema">
                            {{item.tema}}
                        </div>
                        <div class="modal_resumo_indicador">
                            <label>
                                <input type="checkbox" value="{{item.indicadorId}}"  (change)="selecionaIndicadoresFiltro(item,idx,$event)" />  {{ item.titulo }} <small>{{ '[' + item.periodo + ']' }}</small>
                            </label>
                        </div>
                   
                     </div>
                </template>
                <button class="gerar_relatorio" (click)="gerarSinteseEstado()">Gerar Relatório</button>
                
            </div>
    </div>
</div>

<div class="lista__nota__content__geral" [ngClass]="{'exibir': exibirFontesENotas}">
    <h1>{{ 'panorama_resumo__notas' | l10n:lang }}</h1>
    <ol>
        <li *ngFor="let nota of notas">
            {{ nota }}
        </li>
    </ol>

    <br>

    <h1>{{ 'panorama_resumo__fontes' | l10n:lang }}</h1>
    <ol>
        <li *ngFor="let fonte of fontes">
            {{ fonte }}
        </li>
    </ol>
</div>