<div *ngIf="!!datasets && datasets.length > 0">
    
    <div [attr.datasets]="datasets"  [attr.labels]="labels"  #tabela1>
        <table>
            <caption>{{nomeSerie}}</caption>
            <thead>
            <tr>
                <th *ngFor="let label of labels">{{label}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataset of datasets">
                <td *ngFor="let data of dataset.data">{{data | resultado}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>