*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.aniversarios{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.bg{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: fixed;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.container{
    width: 862px;
    position: absolute;
    margin-left: 50%;
    left: -431px;
}

i.fa-times{
    color: #fff;
    float: right;
}

h2{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

.aniversario__header{
    padding: 12px 25px;
    background-color: #1b779b;
    height: 70px;
}
.aniversario__header nav{
    width: 837px;
}
.aniversario__header nav ul{
    display: inline;
}

.aniversario__header nav ul li{
    display: inline;
    color: #fff;
    font-size: 0.9em;
}

.aniversario__header nav ul li:not(:first-child)::before{
    content: ' | ';
}

.aniversario__header nav ul li:nth-child(3){
    padding-left: 20px;
}

.aniversario__header nav ul li:nth-child(3)::before,
.aniversario__header nav ul li:last-child::before{
   content: ' ';
}

.aniversario__header nav ul li:last-child{
    margin-left: 20px;
}

.aniversario__header .selecionar-data{
    display: none;
}

.aniversario__content{
    width: 100%;
    background-color: #fff;
    padding: 12px 0px;
    /* display: table; */
    padding-top: 0px;
    height: 333px;
    /* overflow-y: scroll; */
}
#filtroMes ul{
    padding-top: 14px;
    border-bottom: 5px solid #CCCCCC;
    padding-bottom: 10px;
}

#filtroMes ul li{
    display: inline;
    padding: 0 0.5% 10px;
    margin: 0px;
    list-style: none;
    border-bottom: 5px solid #CCCCCC;
}

#filtroMes ul li:nth-child(1), #filtroMes ul li:nth-child(2){
    padding-left: 5%;
    padding-right: 5%;
}

#filtroMes ul li.selecionado{
    border-color: #F7931E;
}

#filtroDia ul{ 
    margin-left: 41px;
    margin-top: 10px;
    color: #1B779B;
    font-size: .8em;
}

#filtroDia ul li{ 
    display: inline;
    width: 35px;
    padding: 1px 5px;
}

#filtroDia ul li.selecionado{ 
    color: #fff;
    background-color: #1B779B;
    border-radius: 48px;
    width: 100px;
    height: 100px;
}

.aniversariantes{
    /* width: 395px; */
    overflow-y: scroll;
    height: 233px;
    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
    margin-left: 47px;
    margin-top: 15px;
    width: 91%;
}

.aniversariantes_dia{
    margin-bottom: 37px;
    width: 100%;
}

.aniversariantes_numero{
    font-size: 1.6em;
    font-weight: bold;
    color: #1C7293;
}

.aniversariantes_municipios{
    margin-top: 8px;
    columns: 2;
    width: calc(100% - 200px);
    padding: 0px 100px;
}

.aniversariantes__municipios__municipio{
    margin-bottom: 12px;
    font-size: .95em;
    min-height: 36px;
}

.aniversariantes__municipios__municipio span{
    border: 1px solid #4d4d4d;
    border-radius: 30px;
    padding: 4px 6px;
    font-size: .7em;
    color: #4d4d4d;
    margin-right: 4px;
    margin-left: 5px;
}

#filtroMes .seletorMesMobile {
    display: none;
}

@media screen and (max-width: 768px) {
   .container{
        width: 90%;
        left: 5%;
        margin-left: 0;
        height: 90vh;
        background-color: rebeccapurple;
        top: 5vh;
   }

   .aniversariantes {
    margin-left: 47px;
    margin-top: 15px;
    height: calc(100% - 83px);
    /* height: 90%; */
   }
   .aniversario__content{
        height: calc(100% - 94px);
   }

   #filtroDia{
    display: none;
   }
   
   #filtroMes ul{
       padding-bottom: 9px;
   }

   #filtroMes ul li{
        display: none;
    }

    #filtroMes ul li:nth-child(1), #filtroMes ul li:nth-child(2), #filtroMes .seletorMesMobile {
        display: inline
    }

    #filtroMes .seletorMesMobile {
        text-transform: uppercase;
        padding-left: 15px;
        padding-right: 15px;
        display: inline;
    }

    #filtroMes .seletorMesMobile select{
        border: 1px solid #000;
        font-size: .8em;
    }

    .aniversariantes_municipios{
        margin-top: 8px;
        columns: 1;
        width: 100%;
        padding: 0px;
    }

    .aniversariantes__municipios__municipio{
        min-height: 0px;
    }
}