<div class="bt-aniversarios" (click)="toggleVisible()"><i class="fa fa-birthday-cake" aria-hidden="true"></i>{{ 'aniversario__aniversario_dos_municipios' | l10n:lang }}</div>

<div class="aniversarios" *ngIf="isVisible">
    <div class="bg"></div>
    <div class="container">
        <div class="aniversario__header">
            <i class="fa fa-times" aria-hidden="true" (click)="toggleVisible()"></i>

            <h2>{{ 'aniversario__aniversarios' | l10n:lang }}</h2>
            
                        <select name="estado" (change)="onUFChange($event)"> 
                            <option value="estado">{{ 'aniversario__selecione_o_estado' | l10n:lang }}</option> 
                            <option value="0">{{ 'aniversario__todos_os_estados' | l10n:lang }}</option> 
                            <option value="12">Acre</option> 
                            <option value="27">Alagoas</option> 
                            <option value="13">Amazonas</option> 
                            <option value="16">Amapá</option> 
                            <option value="29">Bahia</option> 
                            <option value="23">Ceará</option> 
                            <option value="53">Distrito Federal</option> 
                            <option value="32">Espírito Santo</option> 
                            <option value="52">Goiás</option> 
                            <option value="21">Maranhão</option> 
                            <option value="51">Mato Grosso</option> 
                            <option value="50">Mato Grosso do Sul</option> 
                            <option value="31">Minas Gerais</option> 
                            <option value="15">Pará</option> 
                            <option value="25">Paraíba</option> 
                            <option value="41">Paraná</option> 
                            <option value="26">Pernambuco</option> 
                            <option value="22">Piauí</option> 
                            <option value="33">Rio de Janeiro</option> 
                            <option value="24">Rio Grande do Norte</option> 
                            <option value="11">Rondônia</option> 
                            <option value="43">Rio Grande do Sul</option> 
                            <option value="14">Roraima</option> 
                            <option value="42">Santa Catarina</option> 
                            <option value="28">Sergipe</option> 
                            <option value="35">São Paulo</option> 
                            <option value="17">Tocantins</option> 
                        </select>
                        <!--<button class='selecionar-data'>07 Dez</button>-->
        </div>

        <div class="aniversario__content">
            <nav id='filtroMes'>
                <ul>
                    <li (click)="setHoje()">{{ 'aniversario__HOJE' | l10n:lang }}</li>
                    <li>&nbsp;</li>
                    <li (click)="setMes(1)" [class.selecionado]="mesSelecionado == 1">{{ 'aniversario__JAN' | l10n:lang }}</li>
                    <li (click)="setMes(2)" [class.selecionado]="mesSelecionado == 2">{{ 'aniversario__FEV' | l10n:lang }}</li>
                    <li (click)="setMes(3)" [class.selecionado]="mesSelecionado == 3">{{ 'aniversario__MAR' | l10n:lang }}</li>
                    <li (click)="setMes(4)" [class.selecionado]="mesSelecionado == 4">{{ 'aniversario__ABR' | l10n:lang }}</li>
                    <li (click)="setMes(5)" [class.selecionado]="mesSelecionado == 5">{{ 'aniversario__MAI' | l10n:lang }}</li>
                    <li (click)="setMes(6)" [class.selecionado]="mesSelecionado == 6">{{ 'aniversario__JUN' | l10n:lang }}</li>
                    <li (click)="setMes(7)" [class.selecionado]="mesSelecionado == 7">{{ 'aniversario__JUL' | l10n:lang }}</li>
                    <li (click)="setMes(8)" [class.selecionado]="mesSelecionado == 8">{{ 'aniversario__AGO' | l10n:lang }}</li>
                    <li (click)="setMes(9)" [class.selecionado]="mesSelecionado == 9">{{ 'aniversario__SET' | l10n:lang }}</li>
                    <li (click)="setMes(10)" [class.selecionado]="mesSelecionado == 10">{{ 'aniversario__OUT' | l10n:lang }}</li>
                    <li (click)="setMes(11)" [class.selecionado]="mesSelecionado == 11">{{ 'aniversario__NOV' | l10n:lang }}</li>
                    <li (click)="setMes(12)" [class.selecionado]="mesSelecionado == 12">{{ 'aniversario__DEZ' | l10n:lang }}</li>

                    <!--<li class='seletorMesMobile selecionado'>
                        <select name="mes"> 
                            <option value="estado">MÊS</option> 
                            <option value="1">JAN</option> 
                            <option value="2">FAV</option> 
                            <option value="3">MAR</option> 
                            <option value="4">ABR</option> 
                            <option value="5">MAI</option> 
                            <option value="6">JUN</option> 
                            <option value="7">JUL</option> 
                            <option value="8">AGO</option> 
                            <option value="9">SET</option> 
                            <option value="10">OUT</option> 
                            <option value="11">NOV</option> 
                            <option value="12">DEZ</option> 
                        </select>
                    </li>-->
                </ul>
            </nav>

            <nav id="filtroDia">
                <ul>
                    <li *ngIf="!!aniversariantes[1]" (click)="setDia(1)" [class.selecionado]="diaSelecionado == 1">1</li>
                    <li *ngIf="!!aniversariantes[2]" (click)="setDia(2)" [class.selecionado]="diaSelecionado == 2">2</li>
                    <li *ngIf="!!aniversariantes[3]" (click)="setDia(3)" [class.selecionado]="diaSelecionado == 3">3</li>
                    <li *ngIf="!!aniversariantes[4]" (click)="setDia(4)" [class.selecionado]="diaSelecionado == 4">4</li>
                    <li *ngIf="!!aniversariantes[5]" (click)="setDia(5)" [class.selecionado]="diaSelecionado == 5">5</li>
                    <li *ngIf="!!aniversariantes[6]" (click)="setDia(6)" [class.selecionado]="diaSelecionado == 6">6</li>
                    <li *ngIf="!!aniversariantes[7]" (click)="setDia(7)" [class.selecionado]="diaSelecionado == 7">7</li>
                    <li *ngIf="!!aniversariantes[8]" (click)="setDia(8)" [class.selecionado]="diaSelecionado == 8">8</li>
                    <li *ngIf="!!aniversariantes[9]" (click)="setDia(9)" [class.selecionado]="diaSelecionado == 9">9</li>
                    <li *ngIf="!!aniversariantes[10]" (click)="setDia(10)" [class.selecionado]="diaSelecionado == 10">10</li>
                    <li *ngIf="!!aniversariantes[11]" (click)="setDia(11)" [class.selecionado]="diaSelecionado == 11">11</li>
                    <li *ngIf="!!aniversariantes[12]" (click)="setDia(12)" [class.selecionado]="diaSelecionado == 12">12</li>
                    <li *ngIf="!!aniversariantes[13]" (click)="setDia(13)" [class.selecionado]="diaSelecionado == 13">13</li>
                    <li *ngIf="!!aniversariantes[14]" (click)="setDia(14)" [class.selecionado]="diaSelecionado == 14">14</li>
                    <li *ngIf="!!aniversariantes[15]" (click)="setDia(15)" [class.selecionado]="diaSelecionado == 15">15</li>
                    <li *ngIf="!!aniversariantes[16]" (click)="setDia(16)" [class.selecionado]="diaSelecionado == 16">16</li>
                    <li *ngIf="!!aniversariantes[17]" (click)="setDia(17)" [class.selecionado]="diaSelecionado == 17">17</li>
                    <li *ngIf="!!aniversariantes[18]" (click)="setDia(18)" [class.selecionado]="diaSelecionado == 18">18</li>
                    <li *ngIf="!!aniversariantes[19]" (click)="setDia(19)" [class.selecionado]="diaSelecionado == 19">19</li>
                    <li *ngIf="!!aniversariantes[20]" (click)="setDia(20)" [class.selecionado]="diaSelecionado == 20">20</li>
                    <li *ngIf="!!aniversariantes[21]" (click)="setDia(21)" [class.selecionado]="diaSelecionado == 21">21</li>
                    <li *ngIf="!!aniversariantes[22]" (click)="setDia(22)" [class.selecionado]="diaSelecionado == 22">22</li>
                    <li *ngIf="!!aniversariantes[23]" (click)="setDia(23)" [class.selecionado]="diaSelecionado == 23">23</li>
                    <li *ngIf="!!aniversariantes[24]" (click)="setDia(24)" [class.selecionado]="diaSelecionado == 24">24</li>
                    <li *ngIf="!!aniversariantes[25]" (click)="setDia(25)" [class.selecionado]="diaSelecionado == 25">25</li>
                    <li *ngIf="!!aniversariantes[26]" (click)="setDia(26)" [class.selecionado]="diaSelecionado == 26">26</li>
                    <li *ngIf="!!aniversariantes[27]" (click)="setDia(27)" [class.selecionado]="diaSelecionado == 27">27</li>
                    <li *ngIf="!!aniversariantes[28]" (click)="setDia(28)" [class.selecionado]="diaSelecionado == 28">28</li>
                    <li *ngIf="!!aniversariantes[29]" (click)="setDia(29)" [class.selecionado]="diaSelecionado == 29">29</li>
                    <li *ngIf="!!aniversariantes[30]" (click)="setDia(30)" [class.selecionado]="diaSelecionado == 30">30</li>
                    <li *ngIf="!!aniversariantes[31]" (click)="setDia(31)" [class.selecionado]="diaSelecionado == 31">31</li>
                </ul>
            </nav>
            <div class="aniversariantes" #container>
                <!--
                    **
                    REPETIÇÃO DO DIA COMEÇA 
                    **
                -->
                <div class="aniversariantes_dia" *ngFor="let aniversariantesKey of aniversariantes | keys">
                    <div class="aniversariantes_numero" [id]="aniversariantesKey">
                        {{ aniversariantesKey + "/" + pad(mesSelecionado, 2)}}
                    </div>
                    <div class="aniversariantes_municipios">
                        <div class="aniversariantes__municipios__municipio" *ngFor="let aniversariante of aniversariantes[aniversariantesKey]">
                           <a class="link-acao" (click)="goToCidade(aniversariante.localidade)"> {{aniversariante.localidade.nome}} </a> <a class="link-acao" (click)="goToEstado(aniversariante.localidade)"> <span>{{aniversariante.localidade.parent.sigla}}</span></a>| {{aniversariante.localidade.codigo}}
                        </div>
                    </div>
                </div>
                <!--
                    **
                    REPETIÇÃO DO DIA TERMINA 
                    **
                -->

            </div>
        </div>
    </div>
</div>