<div class="container">
       
    <breadcrumb [breadcrumb]="breadcrumb" style="display: inline-block;"></breadcrumb>
    <span class="unidade" *ngIf="unidade != ''">(Unidade: {{unidade}}{{multiplicador}})</span>
    
    <grafico
        tipo="linha"
        titulo="pesquisa"
        [eixo]="eixo"
        [dados]="dados"
        [colors]="colors"
    ></grafico>

      <div class="legenda">

        <div class="legenda__item" *ngFor="let localidade of localidades; let i = index">
            <div class="legenda__cor faixa{{i+1}}"></div>
            <p class="legenda__texto">{{ localidade?.nome }}</p>
        </div>

    </div>

</div>