.container{
    margin: 3% 9% 0% 9%;
}

h4{
    font-size: 1.3em;
    min-height: 60px;
}

.unidade{
    font-size: 0.9em;
}


/*legenda*/

.legenda{
    width: calc(100% - 70px);
    max-width: 800px;
    min-height: 100px;
    margin: auto;
    margin-left: 70px;
    margin-top: 20px;
}

.legenda__item{
    width: 25%;
    float: left;
    margin-top: 6px;
    height: 30px;
}

.legenda__cor{
    width: 100%;
    height: 6px;
}

.legenda__item--sem-informacao{
    width: 100%;
    float: left;
    margin-top: 10px;
    height: 22px;
    
}

.legenda__item--municipio{
    margin-left: 0px;
    width: 100%;
}

.legenda__item--municipio i{
    margin-right: 8px;
    text-align: center;
    color:#ff1f76;
    float:left;
    width:22px;
    height:25px;
}

.legenda__item--sem-informacao .legenda__cor{
    float: left;
    width: 20px;
    height: 20px;
}

.legenda__item--sem-informacao .legenda__texto{
    float: left;
    width: calc(100% - 30px);
    margin-left: 10px;
    /* margin-top: -3px; */
    /* line-height: 12px; */
}

.legenda__municipio {
	font-size: 0.8em;
	font-weight: bold;
	background-color: #EBEBEB;
	padding:5px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	position: absolute;
    }


/*faixas de cores*/

.faixa4{
    background-color: #8CC63F;
    fill: #8CC63F;
	border-left: 3px solid #fff;
}

.faixa3{
    background-color: #9F55A3;
    fill: #9F55A3;
	border-left: 3px solid #fff;
}

.faixa2{
    background-color: #F7931E;
    fill: #F7931E;
	border-left: 3px solid #fff;
}

.faixa1{
    background-color: #6BC9C7;
    fill: #6BC9C7;
	
}
