*{
    color: inherit;
    text-decoration: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    margin: 0px;
    padding: 0px;
    outline: 0;
    box-sizing: border-box; 
}

html, body{
    height: 100%;
}

header{
    background-color: #E6E6E6;
    max-width: 1900px;
    margin: auto;
    border-bottom: 2px solid #F7931E;
    display: table;
    width: 100%;
}

header .logo{
    width: 21%;
    background-color: #fff;
    float: left;
}
header .logo img{
    padding: 5% 6% 2%;
}


header #busca{
    float: left;
    margin: 0.7% 0% 0.7% 1%;
    width: 76%;
    height: 30px;
}

#container{
    max-width: 1900px;
    margin: auto;
    height: 100%;
}

/*****************
aside
*****************/

aside{
    /*background-color: #cccffc;*/
    min-height: 100%;
    width: 21%;
    float: left;
    color: #fff;
    /*padding: 2% 0%;*/
}

aside.aside--municipio{
    background-color: #148C99;
}

aside ul li{
    list-style: none;
    
}

aside #local{
    padding: 9% 6% 6%;
    font-size: 0.9em;
}

aside #local ul li{
    display: inline;
}

aside #local ul li:not(:first-child):before{
    content: ' / ';
}

aside #local h1{
    font-size: 1.6em;
    line-height: 28px;
}

aside button{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 21px;
    font-size: .8em;
    margin: 0% 8%;
    padding: 5px 10px;
    cursor: pointer;
}

aside #menu ul{
    margin-top: 28px;
}

aside #menu ul li{
    padding: 5% 8%;
    font-size: .9em;
    border-bottom: 1px solid #136568;
    cursor:pointer;
}

aside #menu ul li:hover, aside #menu .menu--selecionado{
    background-color: #15696D;
}

#sintese{
    float: left;
    width: 79%;
    height: 100%;
}


/*****************
sintese>dados
*****************/

#sintese #dados{
    background-color: #E6E6E6;
    float: left;
    width: 38%;
    padding: 2% 0%;
    min-height: 100%;
}

#sintese #detalhes{
    background-color: yellow;
    float: left;
    width: 62%;
    min-height: 100%;
}