*{
    color: inherit;
    text-decoration: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    margin: 0px;
    padding: 0px;
    outline: 0;
    box-sizing: border-box; 
}

.cb{
    clear: both;
}

html, body{
    height: 100%;
}

body, body.brasil{
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( to right, #1f9982 21%, #E6E6E6 15%, #E6E6E6 51%, #fff 51%, #fff );
    background: -o-linear-gradient( to right, #1f9982 21%, #E6E6E6 15%, #E6E6E6 51%, #fff 51%, #fff );
    background: -moz-linear-gradient( to right, #1f9982 21%, #E6E6E6 15%, #E6E6E6 51%, #fff 51%, #fff );
    background: linear-gradient( to right, #1f9982 21%, #E6E6E6 15%, #E6E6E6 51%, #fff 51%, #fff );
}

body.estado{
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( to right, #148c99 21%, #E6E6E6 15%, #E6E6E6 51%, #fff 51%, #fff );
    background: -o-linear-gradient( to right, #148c99 21%, #E6E6E6 15%, #E6E6E6 51%, #fff 51%, #fff );
    background: -moz-linear-gradient( to right, #148c99 21%, #E6E6E6 15%, #E6E6E6 51%, #fff 51%, #fff );
    background: linear-gradient( to right, #148c99 21%, #E6E6E6 15%, #E6E6E6 51%, #fff 51%, #fff );
}

body.municipio{
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( to right, #1b779b 21%, #E6E6E6 15%, #E6E6E6 51%, #fff 51%, #fff );
    background: -o-linear-gradient( to right, #1b779b 21%, #E6E6E6 15%, #E6E6E6 51%, #fff 51%, #fff );
    background: -moz-linear-gradient( to right, #1b779b 21%, #E6E6E6 15%, #E6E6E6 51%, #fff 51%, #fff );
    background: linear-gradient( to right, #1b779b 21%, #E6E6E6 15%, #E6E6E6 51%, #fff 51%, #fff );
}

header{
    background-color: #E6E6E6;
    max-width: 1900px;
    margin: auto;
    border-bottom: 2px solid #F7931E;
    display: table;
    width: 100%;
}

header .logo{
    width: 21%;
    background-color: #fff;
    float: left;
    height: 52px;
}
    
header .logo--mobile {
    display: none;
}

header .logo img{
    padding: 14px 6% 4px;
}

#container{
    max-width: 1900px;
    margin: auto;
    height: 100%;
}

.brasil .cor-fundo{
     background-color: #1F9982;
}

.brasil .cor-borda{
    border-color: #1F9982;
}

.estado .cor-fundo{
    background-color: #148C99;
}

.estado .cor-borda{
   background-color: #148C99;
}

.municipio .cor-fundo{
    background-color: #1B779B;
}

.municipio .cor-borda{
    background-color: #1B779B;
}

/*****************
aside
*****************/

aside{
    /*background-color: #cccffc;*/
    min-height: 100%;
    width: 21%;
    float: left;
    color: #fff;
    /*padding: 2% 0%;*/
}

aside.aside--municipio{
    background-color: #148C99;
}

aside ul li{
    list-style: none;
    
}


aside #localidade{
    padding: 9% 6% 4%;
    font-size: 0.9em;
}


aside #localidade ul li{
    display: inline;
}

aside #localidade ul li:not(:first-child):before{
    content: ' / ';
}

aside #localidade h1{
    font-size: 1.6em;
    line-height: 28px;
}

aside #localidade button{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 21px;
    font-size: .8em;
    margin: 4% 0%;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-transition: background 200ms ease, color 200ms ease;
    -moz-transition: background 200ms ease, color 200ms ease;
    -ms-transition: background 200ms ease, color 200ms ease;
    -o-transition: background 200ms ease, color 200ms ease;
    transition: background 200ms ease, color 200ms ease;
}

aside #localidade button#menu-principal{
    display: none;
}

aside #localidade button:hover{
    background-color: #FFFFFF;
    color: #148C99;
}






aside #menu ul{
    margin-top: 28px;
}

aside #menu ul li{
    padding: 5% 8%;
    font-size: .9em;
    border-bottom: 1px solid #136568;
    cursor:pointer;
}

aside #menu ul li:hover, aside #menu .menu--selecionado{
    background-color: #15696D;
}

#sintese{
    float: left;
    width: 79%;
    height: 100%;
}


/*****************
sintese>dados
*****************/

#sintese #dados{
    background-color: #E6E6E6;
    float: left;
    width: 38%;
    padding: 2% 0%;
    min-height: 100%;
}

#sintese #detalhes{
    float: left;
    width: 62%;
    min-height: 100%;
}



@media screen and (max-width: 768px) {
    body{
        background: none;
    }

    header{
        background-color: #333333;
        border-bottom: none;
    }

    header .logo {
        background-color: #333333;
        height: 42px;
        padding-left: 5%;
        width: auto;
    }

    header .logo--desk {
        display: none;
    }
    
    header .logo--mobile {
        display: block;
    }

   


    aside{
        width: 100%;
        min-height: 0px;
    }

    aside #localidade {
        padding: 7px 5%;
    }

    aside #localidade button{
        margin: 15px 0% 5px;
        float: right;
    }
    
    aside #localidade button#menu-principal{
        float: left;
        width: 32px;
        height: 32px;
        font-size: 18px;
        padding: 0px;
        display: block;
    }

    aside #menu{
        position: fixed;
        background-color: #148C99;
        left: -75%;
        min-height: 100%;
        width: 75%;

        -webkit-transition: left 500ms ease;
        -moz-transition: left 500ms ease;
        -ms-transition: left 500ms ease;
        -o-transition: left 500ms ease;
        transition: left 500ms ease;
    }


    aside #menu ul{
        margin-top: 0px;
    }

    aside #menu.aberto{
        left: 0%;
    }

     .localidade--static #localidade{
            position: fixed;
            transform: translateY(-100px);
            width: 100%;
            background: #148C99;
            z-index: 2;
        }

        .localidade--static #menu {
            z-index: 3;
            transform: translateY(18px);
        }


    #sintese{
        width: 100%;
    }

    #sintese #dados{
        width: 100%;
        padding-top: 20px;
    }

    #sintese #detalhes{
        width: 100%;
    }

}


