#cabecalho{
    border-bottom: 1px solid #D9D8D7;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

h2{
    font-weight: bold;
    padding: 2%;
    font-size: 1.3em;
    float: left;
}

i.cabecalho__duvida{
    color: #F7931E;
    float: left;
    font-size: 1.3em;
    margin-top: 2.6%;
}

.cabecalho__download{
    float: right;
    background-color: #2B93B2;
    color: #fff;
    margin-top: 2.5%;
    border-radius: 22px;
    width: 22px;
    height: 22px;
    font-size: .9em;
    padding-left: 4px;
    padding-top: 1px;
    margin-right: 2%;
}

.cabecalho__combobox{
    clear: both;
    display: block;
    margin: 3% 0% 1% 2%;
    padding: 3px 6px;
    width: 45%;
    border-radius: 10px;
    border: 1px solid #B3B3B3;
    /*-webkit-appearance: none;
    -moz-appearance: none;
    background: url(http://webinfocentral.com/Images/favicon.ico) 95% / 10% no-repeat #fdfdfd;*/
}