
.dados__tema{
    color: #F15A24;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: -.5px;
    border-bottom: 2px solid #B3B3B3;
    height: 11px;
    width: 96%;
    margin: 0% 2% 16px;
}
.dados__tema:not(.dados__tema--metade){
    clear: both;
}

.dados__variavel + .dados__tema{
    margin-top: 20px;
}

.dados__tema__titulo{
    background-color: #e6e6e6;
    float: left;
    padding-right: 12px;
}

.dados__tema--metade{
    width: 50%;
    border-bottom: none;
    /*border-bottom: 1px solid #D9D8D7;*/
    float: left;
    height: auto;
    padding-bottom: 7px;
    margin-bottom: 4px;
    margin-left: 0px;
    padding-left: 2%;
    margin-right: 0px;
    margin-bottom: 20px;
}

.dados__tema--metade span{
    color: #333333;
}

.dados__tema--metade span span{
    font-weight: normal;
    font-size: 0.75em;    
}


.dados__variavel{
    width: 100%;
    clear: both;
    color: #333333;
    display: table;
    padding: 7px 2%;
    cursor: pointer;
    border-top: 1px solid #D9D8D7;
}

.dados__variavel:hover, .dados__variavel--selecionado{
    background-color: #CCCCCC;
}

.dados__variavel:hover .dados__variavel__seta-detalhe, .dados__variavel--selecionado .dados__variavel__seta-detalhe{
    padding-left: 7px;
}


.dados__tema + .dados__variavel{
    border: none;
}

.dados__variavel__nome{
    float: left;
    font-size: 0.9em;
    /*background-color: blue;*/
    width: 48%;
    line-height: 14px;
    margin-top: 3px;
}

.dados__variavel__valor{
    float: right;
    /*font-size: 1em;*/
    font-weight: bold;
    /*background-color: green;*/
    margin: 0% 3%;
    width: 40%;
    line-height: 12px;
    margin-top: 5px;
}

.dados__variavel__valor span{
    font-weight: normal;
    font-size: 0.75em;
}

.dados__variavel__seta-detalhe{
    float: right;
    color: #999999;
    font-size: 0.9em;
    padding-top: 3px;
    /*background-color: red;*/
    width: 6%;
    text-align: left;
    -webkit-transition: padding-left 0.3s ease;
    -moz-transition: padding-left 0.3s ease;
    -ms-transition: padding-left 0.3s ease;
    -o-transition: padding-left 0.3s ease;
    transition: padding-left 0.3s ease;
}