/*linha do tempo*/

.linhatempo{
    text-align: center;
}

.linhatempo__linha{
    width: 100%;
    height: 2px;
    background-color: #B3B3B3;
}

.linhatempo__ano{
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 8%;
    min-width: 32px;
}

.linhatempo__circulo{
    width: 14px;
    height: 14px;
    background-color: #CCCCCC;
    border: 2px solid #B3B3B3;
    border-radius: 7px;
    margin: 0px auto;
}

.linhatempo__ano--selecionado{
    margin: -11px 0 0 0px;
}

.linhatempo__ano--selecionado .linhatempo__circulo{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #148C99;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.linhatempo__texto{
    font-size: 0.8em;
    font-weight: bold;
}

.linhatempo__anos{
    margin-top: -8px;
    white-space: nowrap;
}