<p class="breadcrumb">
    <template ngFor let-item [ngForOf]="breadcrumb" let-i="index">
        <!--pedaços clicáveis do breadcrumb-->
        <span class="breadcrumb__parent" [class.breadcrumb__parent--clicavel]="item.hasValue" *ngIf="breadcrumb && (i < breadcrumb.length - 1)" (click)="item.hasValue && navegarPara(item.id);">
            {{ item.nome }}
        </span>

        <!--separador '/'-->
        <span *ngIf="breadcrumb && (i < breadcrumb.length - 1)"> / </span>
        
        <!--última parte do breadcrumb, em negrito e não clicável-->
        <span class="breadcrumb__local-atual" *ngIf="breadcrumb && (i == breadcrumb.length - 1)">
            {{ item.nome }}
        </span>
    </template>
</p>