.breadcrumb{
    font-size: 1em;
}

.breadcrumb__local-atual{
    font-weight: bold;
}

.breadcrumb__local-atual::first-letter{
    text-transform: capitalize;
}
.breadcrumb__parent{
    
}


.breadcrumb__parent--clicavel{
    cursor: pointer;
    text-decoration: underline
}