.hist__titulo{
    margin: 10px 0px;
}

.hist__texto{
    line-height: 145%;
}

.caixa{
    background-color: white;
    margin: auto;
    border-radius: 5px;
}

.caixa__cabecalho{
    position: relative;
}

.caixa__titulo{
    margin: 0px;
    padding: 10px;
    display: inline-block;
    width: 90%;
}


.caixa__conteudo{
    line-height: 2em;
    font-size: .95em;
    padding: 16px 52px 52px 52px;
	width: 100%;
	max-width:900px;
}

@media screen and (max-width: 768px) {
	.caixa__conteudo{
	padding-left:0;
	}
}