<div class="estado-sintese">
    <div id="conteudo">
            <img src='/img/logo.png' class='logo'>
            <h1 class="estado">{{estado?.nome}}</h1>
            <table id="municipios">
                <thead>
                    <tr>
                        <th>Municípios</th>
                        <th>Gentílico</th>
                        <th *ngFor="let indicador of indicadores">{{indicador.titulo}}</th>
                    </tr>
                </thead>
                <tbody *ngFor="let r of resumo;let i=index">
                        <tr class="3300100 par">
                            <td class="nome">{{r.municipio}}</td>
                            <td class="gentilico">{{r.gentilico}}</td>
                            <td  *ngFor="let indicador of r.indicadores" >{{indicador.valor}} {{indicador.unidade}}</td>
                        </tr>                
                </tbody>
                <tfoot>
                    <tr>
                        <td [attr.colspan]="indicadores && (indicadores.length+2)">
                             <div *ngFor="let fonte of fontes;let i=index">
                                 <br/>Fonte {{i+1}} - {{fonte.indicador}}: {{fonte.descricao}} 
                             </div>   
                            <div *ngFor="let nota of notas;let i=index">
                                <br/>Nota {{i+1}} - {{nota.indicador}}: {{nota.descricao}}
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
    </div>
</div>   