.estado-sintese {
    background-color: #EEE;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width:100%;
    min-height: 100vh;
    padding-bottom: 50px;
}
.estado{
    font-size:2em;
}
#conteudo {
    margin: 30px auto;
    background-color: #FFF;
    border: 1px solid #ccc;
    padding: 25px;
    text-align: left;
    width: 1200px;
    margin-bottom: 0px;
}

.logo{
    float: right;
}

h1 {
    margin: 50 0 10px 0;
    padding-top: 3%;
    padding-bottom:1%;
    font-size:2em;
}
ul#info {
    margin: 0 0 25px 0;
    padding: 0;
    font-size: 12px;
    list-style-position: outside;
    list-style-type: none;
}
div#mapa {
    margin: 0 0 25px 0;
    text-align: center;
}

table#municipios  {
    font-size: 12px;
    min-width: 100%;
}
table#municipios thead tr  {
    background-color: #ddd;
}
table#municipios thead tr th  {
    text-align: center;
    padding: 5px;
}
table#municipios tbody tr td  {
    text-align: right;
    padding: 5px;
}
table#municipios thead tr th.nome, table#municipios tbody tr td.nome, table#municipios tbody tr td.gentilico {
    text-align: left;
}

table#municipios tbody tr.impar  {
    background-color: #EEE;
}
table#municipios tfoot tr td {
    font-weight: bold;
    padding-top: 15px;
}