<h1 style="text-align: center">{{titulo}}</h1>

<p style="margin-top: 20px">
    Use este espaço para testar seu componente ;)
</p>

<p>Censo</p>
<pre>{{censo | json}}</pre>

<p>todas as pesquisas</p>
<p>{{pesquisas | async }}</p>

<p>Indicadores Educação</p>
<small>{{indicadoresEducacao | async }}</small>

<p>getIndicadores:</p>
<ul>
    <li>Escola Pública Municipal(5909)</li>
    <li>Ensino Médio(5913)</li>
    <li>Escola Privada(5917)</li>
    <li>Escola Privada(5938)</li>
</ul>
<pre>{{getIndicadores2}}</pre>

<p style="margin-top: 50px">
    Pesquisas disponíveis <br>
    {{listaPesquisas}}
</p>


<p style="margin-top: 50px">
    Somente os nomes dos indicadores <br>
    {{listaIndicadores}}
</p>

<p style="margin-top: 50px">
    Somente os valores dos indicadores <br>
    {{listaValores}}
</p>

<p style="margin-top: 50px">
    Resultado completo <br>
    {{listaResultado}}
</p>

<p style="margin-top: 50px">
    Sintese de localiade <br>
    {{sinteseLocal}}
</p>

<p style="margin-top: 50px">
    Detalhes de um indicador da síntese <br>
    {{detalhesIndicadorSintese}}
</p>

<p style="margin-top: 50px">
    Detalhes da pesquisa que contém um indicador da síntese <br>
    {{pesquisaPorIndicador}}
</p>