.container{
    margin: 3% 9%;
}

.content__grupos{
    display: table;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 32px;
}

.grupo {
    width: 46%;
    /*background-color: red;*/
    float: left;    
    padding: 17px 18px 18px 0px;
    margin-bottom: 50px;
}

.grupo:nth-child(odd){
    border-right: 2px solid #CCCCCC;
    margin-right: 18px;
    clear: both;
}

.grupo__titulo{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:10px;
}

.grupo__item{
    /*background-color: red;*/
    width: 100%;
    display: table;
    margin-bottom: 10px;
}

.grupo__item__posicao{
    float: left;
    /*background-color: green;*/
    width: 15%;
    margin-left: 2%;
}

.grupo__item__nome{
    float: left;
    /* background-color: blue; */
    width: 47%;
    margin-right: 1%;
}

.grupo__item__sigla{
    font-size: .8em;
}

.grupo__item__nome--selecionado{
	color: #F7931E;

}

.grupo__item__barra{
    float: left;
    /*background-color: yellow;*/
    width: 35%;
    height: 15px;
    margin-top: 5px;
}

.grupo__item__barra__porcento{
    background-color: #F7931E;
    width: 0%;
    height: 15px;
}


.unidade{
    font-size: 0.9em;
}

.mensagem-vazio{
    /*margin-left: 38%;*/
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 1460px) {
 .grupo{
     width: 100%;
     border-right: 0px;
 }   
 .grupo:nth-child(odd){
     border-right: 0px;
 }

}