<div *ngFor="let indicador of indicadores; let i = index">

    <div class="content__grupos">

        <div class="grupo" *ngFor="let contexto of indicador">
            <div class="grupo__titulo">{{contexto.localidade}} EM {{contexto.contexto}}</div>
            
            <div class="grupo__item" *ngFor="let localidade of contexto.listaGrupos">
                <div class="grupo__item__posicao">{{localidade.posicao}}</div>
                <div class="grupo__item__nome">{{localidade.localidade.nome}}</div>
                <div class="grupo__item__barra">
                    <div class="grupo__item__barra__porcento" style="width:10%"></div>
                </div>
            </div>
        </div>

    </div>

</div>