<div class="container">
    <div>
        <mensagem-setas></mensagem-setas>

        <breadcrumb [breadcrumb]="breadcrumb"></breadcrumb>

        <linha-tempo [anos]="listaPeriodos" [anoSelecionado]="periodo" (onAno)="mudaAno($event);"></linha-tempo>

        <div class="mensagem-vazio" *ngIf="!hasDados()">
            Nenhum valor para exibir.
        </div>

        <div class="content__grupos" *ngIf="hasDados()">
            <div class="grupo" *ngFor="let contexto of rankings">
                <div class="grupo__titulo">{{getTitulo(contexto.contexto)}}</div>
                
                <div *ngFor="let localidade of contexto.listaGrupos; let i = index;">
                    
                    <div  class="grupo__item"  *ngIf="i > 0 && (localidade.posicao - contexto.listaGrupos[i - 1].posicao) > 1">
                        <div class="grupo__item__posicao">&nbsp;</div>
                        <div class="grupo__item__nome">...</div>
                        <div class="grupo__item__barra">
                            <div class="grupo__item__barra__porcento"></div>
                        </div>
                    </div>

                    <div class="grupo__item">
                        <div class="grupo__item__posicao">{{localidade.posicao}}&ordm;</div>
                        <div class="grupo__item__nome" [class.grupo__item__nome--selecionado]="isSelecionado(localidade.localidade.codigo)">
                            {{localidade.localidade.nome}}
                            <span class="grupo__item__sigla" *ngIf="contexto.contexto == 'br' && localidade.localidade.parent.sigla"> - {{localidade.localidade?.parent.sigla}}</span>
                        </div>
                        <div style="font-size:0.7em; margin-bottom: -4px; margin-top: 2px;">{{getRotulo(localidade.valor)}}</div>
                        <div class="grupo__item__barra" [title]="getRotulo(localidade.valor, localidade.unidadeMedida, localidade.fatorMultiplicativo)">
                            <div class="grupo__item__barra__porcento" [style.width.%]="localidade.proporcao" style="height:4px;"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>


</div>