<div class="cabecalho">
    <div class="cabecalho__nome-pesquisa">
        <!--pesquisa atual e select do indicador-->
        <div class="nome-pesquisa">
            {{ pesquisa?.nome }}/
            <br/> 
            <span>
                <select (change)="mudaIndicador($event);">
                    <option *ngFor="let indic of (pesquisa?.indicadores | async)" [value]="indic?.id" [selected]="indic?.id == indicador">{{ indic?.nome }}</option>
                </select>
            </span>
        </div>
        <!--select do ano-->
        <div class="select-ano-container">
            Ano:
            <select class="select-ano" (change)="mudaAno($event)">
                <option *ngFor="let periodo of listaPeriodos" [selected]="periodo.nome == ano">{{ periodo.nome }}</option>
            </select>
        </div>
        <!--fontes-->
        <template ngFor let-periodo [ngForOf]="pesquisa?.periodos">
            <div class="notas" *ngIf="periodo.nome == ano && periodo.fontes.length > 0">
                <div class="area-click" [class.area-click--visivel]="mostrarFontes" (click)="mostrarFontes=false"></div>
                <div class="notas__botao" (click)="mostrarFontes=true">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Fonte
                </div>
                <div class="notas__lista-container" *ngIf="mostrarFontes">
                    <ol>
                        <li *ngFor="let fonte of periodo.fontes"> {{ fonte }} </li>
                    </ol>
                </div>
            </div>
        </template>
        <!--notas-->
        <template ngFor let-periodo [ngForOf]="pesquisa?.periodos">
            <div class="notas" *ngIf="periodo.nome == ano && periodo.notas.length > 0">
                <div class="area-click" [class.area-click--visivel]="mostrarNotas" (click)="mostrarNotas=false"></div>
                <div class="notas__botao" (click)="mostrarNotas=true">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Notas
                </div>
                <div class="notas__lista-container" *ngIf="mostrarNotas">
                    <ol>
                        <li *ngFor="let nota of periodo.notas"> {{ nota }} </li>
                    </ol>
                </div>
            </div>
        </template>
    </div>
    <div class="cabecalho__seletor-visualizacao-dados">
        <div class="cabecalho__seletor-visualizacao-dados__item selecionado"><i class="fa fa-table" aria-hidden="true"></i> TABELA</div>
        <!--<div class="cabecalho__seletor-visualizacao-dados__item"><i class="fa fa-bar-chart" aria-hidden="true"></i> GRÁFICOS</div>
        <div class="cabecalho__seletor-visualizacao-dados__item"><i class="fa fa-area-chart" aria-hidden="true"></i> SÉRIE HISTÓRICA</div>
        <div class="cabecalho__seletor-visualizacao-dados__item"><i class="fa fa-list-ol" aria-hidden="true"></i> RANKING</div>-->
    </div>
    <div class="cabecalho__visualizacao-dados">
        <div class="cabecalho__visualizacao-dados__item">
            <div class="cabecalho__visualizacao-dados__item__label">{{ localidade?.nome }}</div>
        </div>

        <busca-header [localidadeAtual]="localidade1" (onLocalidade)="setaLocalidade1($event);"></busca-header>
        <busca-header [localidadeAtual]="localidade2" (onLocalidade)="setaLocalidade2($event);"></busca-header>

        <div class="cabecalho__visualizacao-dados__item cabecalho__visualizacao-dados__item--compartilhar">
            <div class="area-click" [class.area-click--visivel]="mostrarOpcoes" (click)="mostrarOpcoes=false"></div>
            <div class="select__sub-menu">

                <div title='Ocultar linhas sem dados' class="select__sub-menu__botao select__sub-menu__botao--olho" style=''><i class="fa" [ngClass]="{'fa-eye': !isOcultarValoresVazios, 'fa-eye-slash': isOcultarValoresVazios}" (click)="ocultarValoresVazios()" aria-hidden="true" style=''></i></div>
				<!--Inicio Menu Hamburguer Button-->
                <div class="select__sub-menu__botao" [class.select__sub-menu__botao--aberto]="mostrarOpcoes" (click)="mostrarOpcoes=true"><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                <!--Fim Menu Hamburguer Button-->
                

                <div class="select__submenu-aberto" *ngIf="mostrarOpcoes">
                    <div (click)="fazerDownload();"><span><i class="fa fa-download fa-lg" aria-hidden="true"></i></span> Download</div>
                    <!--<div (click)="compartilhar();"><span><i class="fa fa-share-alt fa-lg" aria-hidden="true"></i></span> Compartilhar</div>-->
                </div>
            </div>

            
        </div>

    </div>
</div>