<!--<div class="content-card">
    <div class='card' [ngClass]="{selecionado: selecionado}" id='card-{{dados?.indicador?.id}}'>
    <div class="selecionar">
        <div class="card__titulo">{{ titulo }}</div>
        <div class="card__nota">{{ valor | resultado }} <span class="card_unidade">{{ unidade }}</span></div>
        
           
	</div>
        <p class="card__comparando">Comparando a outros municípios</p>

        <div class="card__regua-comparacao" *ngIf="ranking?.BR">
            <p>No país</p>
            <div class="card__regua-comparacao__regua" [class.card__regua-comparacao__regua--desabilitada]="!ranking?.BR" [attr.pos]="ranking?.BR?.posicao" [attr.len]="ranking?.BR?.itens">
                <div [ngStyle]='{right: cssRanking?.BR+"%"}' [title]="ranking?.BR?.posicao+' / '+ranking?.BR?.itens" class="card__regua-comparacao__regua__marcador"></div>
            </div>
        </div>

        <div class="card__regua-comparacao" *ngIf="ranking?.local">
            <p>No estado</p>
            <div class="card__regua-comparacao__regua" [class.card__regua-comparacao__regua--desabilitada]="!ranking?.local" [attr.pos]="ranking?.local?.posicao" [attr.len]="ranking?.local?.itens">
                <div [ngStyle]='{right: cssRanking?.local+"%"}' [title]="ranking?.local?.posicao+' / '+ranking?.local?.itens" class="card__regua-comparacao__regua__marcador"></div>
            </div>
        </div>

        <div class="card__regua-comparacao" *ngIf="ranking?.microrregiao">
            <p>Na microrregião</p>
            <div class="card__regua-comparacao__regua" [class.card__regua-comparacao__regua--desabilitada]="!ranking?.microrregiao" [attr.pos]="ranking?.microrregiao?.posicao" [attr.len]="ranking?.microrregiao?.itens">
                <div [ngStyle]='{right: cssRanking?.microrregiao+"%"}' [title]="ranking?.microrregiao?.posicao+' / '+ranking?.microrregiao?.itens" class="card__regua-comparacao__regua__marcador"></div>
            </div>
        </div>
    </div>
    
</div>-->


<!-- NOVO --> 
<!-- PRIMEIRO INDICADOR -->
<div class="indicador" [ngClass]="{'selecionado': selecionado, 'sem-valor': !ranking.BR.hasValor}">
    <div class="indicador__nome">{{ titulo }}</div>
    <div class="indicador__valor">{{ valor | resultado }} <span class="card_unidade">{{ unidade }}</span></div>

    <div class="comparacoes">
        <div class="comparacoes__titulo">
           {{ textoComparacao }}
        </div>

        <div class="comparacoes__comparacao">
            <div class="comparacao__regiao">
                <div class="comparacao__regiao__titulo">No país</div>
                <div class="comparacao__regiao__regua">
                    <div class="comparacao__regiao__regua__fim">1º</div>
                    <div class="comparacao__regiao__regua__inicio">{{ranking?.BR?.itens}}º</div>
                    <div [class]="'comparacao__regiao__regua__posicao ' + cssRanking.BR">
                        <div class="comparacao__regiao__regua__posicao__traco"></div>
                        <div class="comparacao__regiao__regua__posicao__valor">{{ranking?.BR?.posicao}}º</div> 
                    </div>
                </div>
            </div>
            <div class="comparacao__regiao" *ngIf="tipoLocalidade === 'municipio'">
                <div class="comparacao__regiao__titulo">No Estado</div>
                <div class="comparacao__regiao__regua">
                    <div class="comparacao__regiao__regua__fim">1º</div>
                    <div class="comparacao__regiao__regua__inicio">{{ranking?.local?.itens}}º</div>
                    <div [class]="'comparacao__regiao__regua__posicao ' + cssRanking.local">
                        <div class="comparacao__regiao__regua__posicao__traco"></div>
                        <div class="comparacao__regiao__regua__posicao__valor">{{ranking?.local?.posicao}}º</div> 
                    </div>
                </div>
            </div>

            <div class="comparacao__regiao" *ngIf="tipoLocalidade === 'municipio'">
                <div class="comparacao__regiao__titulo">Na micro região</div>
                <div class="comparacao__regiao__regua">
                    <div class="comparacao__regiao__regua__fim">1º</div>
                    <div class="comparacao__regiao__regua__inicio">{{ranking?.microrregiao?.itens}}º</div>
                    <div [class]="'comparacao__regiao__regua__posicao ' + cssRanking.microrregiao">
                        <div class="comparacao__regiao__regua__posicao__traco"></div>
                        <div class="comparacao__regiao__regua__posicao__valor">{{ranking?.microrregiao?.posicao}}º</div> 
                    </div>
                </div>
            </div>

        </div>
    </div> 

</div>
<!-- FIM PRIMEIRO INDICADOR -->
