<div class="content-card">
    <div class='card' [ngClass]="{selecionado: isSelecionado}" id='card-{{dados?.indicador?.id}}'>
    <div class="selecionar">
        <div class="card__titulo">{{ titulo }}</div>
        <div class="card__nota">{{ valor }} <span class="card_unidade">{{ unidade }}</span></div>
        
           
	</div>
        <p class="card__comparando">Comparando a outros municípios</p>

        <div class="card__regua-comparacao" *ngIf="ranking?.BR">
            <p>No país</p>
            <div class="card__regua-comparacao__regua" [class.card__regua-comparacao__regua--desabilitada]="!ranking?.BR" [attr.pos]="ranking?.BR?.posicao" [attr.len]="ranking?.BR?.itens">
                <div [ngStyle]='{right: cssRanking}' [title]="ranking?.BR?.posicao" class="card__regua-comparacao__regua__marcador"></div>
            </div>
        </div>

        <div class="card__regua-comparacao" *ngIf="ranking?.local">
            <p>No estado</p>
            <div class="card__regua-comparacao__regua" [class.card__regua-comparacao__regua--desabilitada]="!ranking?.local" [attr.pos]="ranking?.local?.posicao" [attr.len]="ranking?.local?.itens">
                <div [ngStyle]='{right: cssRanking}' [title]="ranking?.local?.posicao" class="card__regua-comparacao__regua__marcador"></div>
            </div>
        </div>

        <div class="card__regua-comparacao" *ngIf="ranking?.microrregiao">
            <p>Na microrregião</p>
            <div class="card__regua-comparacao__regua" [class.card__regua-comparacao__regua--desabilitada]="!ranking?.microrregiao" [attr.pos]="ranking?.microrregiao?.posicao" [attr.len]="ranking?.microrregiao?.itens">
                <div [ngStyle]='{right: cssRanking}' [title]="ranking?.microrregiao?.posicao" class="card__regua-comparacao__regua__marcador"></div>
            </div>
        </div>

        <!--<panorama-card-regua title='No Estado' [ranking]="rankingUf$ | async" [itens]="lengthUf$ | async" [maiorMelhor]="dados.maiorMelhor"></panorama-card-regua>
        <panorama-card-regua title='No País' [ranking]="rankingPais$ | async" [itens]="lengthPais" [maiorMelhor]="dados.maiorMelhor"></panorama-card-regua>
        <panorama-card-regua title='Na Microrregião' [ranking]="rankingMicrorregiao$ | async" [itens]="(rankingMicrorregiao$ | async)?.qtdeItensComparados" [maiorMelhor]="dados.maiorMelhor"></panorama-card-regua>-->
        
<!--
        <div class="botao-container">
            <div class="botao" *ngIf="dados && dados.indicador && dados.indicador.fontes && dados.indicador.fontes.length">
                <div class="area-click" [class.area-click--visivel]="mostrarFontes" (click)="mostrarFontes=false"></div>
                <button (click)="mostrarFontes=true">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Fonte
                </button>
                <div *ngIf="mostrarFontes" class="fontes__lista-container">
                    <ol>
                        <li *ngFor="let fonte of dados?.indicador?.fontes;">{{ fonte }}</li>
                    </ol>
                </div>
            </div>

            <div class="botao" *ngIf="dados && dados.indicador && dados.indicador.notas && dados.indicador.notas.length">
                <div class="area-click" [class.area-click--visivel]="mostrarNotas" (click)="mostrarNotas=false"></div>
                <button (click)="mostrarNotas=true">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Notas
                </button>
                <div *ngIf="mostrarNotas" class="notas__lista-container">
                    <ol>
                        <li *ngFor="let nota of dados?.indicador?.notas;">{{ nota }}</li>
                    </ol>
                </div>
            </div>

            <div class="botao" *ngIf="dados && _pesquisasConfig.isValida(dados.pesquisaId)">
                <button (click)="navegarTabela();"><i class="fa fa-table" aria-hidden="true"></i> Tabela</button>
            </div>

        </div>
        -->

    </div>

    
</div>