<!-- INICIO -->
<div class="painel">
    <div class="painel__indicadores">

        <panorama-card
            *ngFor="let painel of dados; let i = index"
            (click)="selectPainel(i)"
            [mostrarLinkRanking]="painel.mostrarLinkRanking"
            [indicadorId]="painel.indicadorId"
            [pesquisaId]="painel.pesquisaId"
            [titulo]="painel.titulo | l10n:lang"
            [valor]="painel.valor"
            [unidade]="painel.unidade"
            [ranking]="painel.ranking"
            [selecionado]="i === indexSelecionado"
            [tipoLocalidade]="localidade?.tipo"
        ></panorama-card>

    </div>

    <div class="painel__grafico" *ngIf="!isMobile() && (shouldAppear$ | async)">
        <!--Não mostra o cartograma de Brasília (código 530010)-->
        <ibge-cartograma
            *ngIf="!isPrerender && localidade?.codigo != 530010"
            [localidade]="localidade?.parent"
            [localidadesMarcadas]="[localidade]"
            [resultados]="resultadosCartograma"
            [titulo]="cardSelecionado?.titulo | l10n:lang"
            [indicador]="indicador"
        ></ibge-cartograma>
    </div>
</div>
<!-- FIM -->