.agregador {
	float: left;
	background-color: #fff;
	margin-left: 21%;
	border-left: 10px solid #333;
	min-height: 100%;
	height:100%;
	/*width:100%;*/
	/*padding-right: 379px;*/
	max-width: 1600px;
}
	
	
@media screen and (min-width: 1200px) {
	.agregador {
		margin-left: 250px;
	}
	
}


@media screen and (max-width: 768px) {
	
	.agregador {
		border: none;
		margin-left: 20px;
		margin-top: 149px;
	}	
	
}