
.cabecalho{
    background-color: #E6E6E6;
    width: 100%;
    display: table;
}

.cabecalho select {
    border: none;
}

.cabecalho select:first-child {
    background-color: transparent;
}

.cabecalho .select-ano-container {
    font-weight: bold;
    font-size: small;
    margin-top: 30px;
}

.cabecalho select.select-ano {
    width: initial;
    font-weight: normal;
}

.notas {
    font-size: small;
    padding: 2px 5px;
    float: right;
    margin-top: 30px;
    background: #ccc;
    cursor: pointer;
}

.notas i {
    color: #1B779B;
}

.notas:hover {
    background: #999;
}

.notas__lista-container {
    display: none;
    position: absolute;
    background: #fff;
    padding: 20px 15px 15px 30px;
    width: 450px;
    border: 1px solid #ccc;
    margin-left: -5px;
}

.notas__lista-container li {
    margin-bottom: 10px; 
}

.notas.notas__aberto > .notas__lista-container {
    display: block;
}

.cabecalho__nome-pesquisa{
    float: left;
    background-color: #E6E6E6;
    width: 38%; 
    height: 120px;
    padding: 1% 15px;
    border-bottom: 3px solid #E2871A;
    border-right: 3px solid #fff;
}

.cabecalho__nome-pesquisa span, .cabecalho__nome-pesquisa span select:first-child{
    font-weight: bold;
}

.cabecalho__visualizacao-dados, .cabecalho__seletor-visualizacao-dados{
    float: left;
    width: 62%;
}

.cabecalho__visualizacao-dados {
    height: 55px;
    line-height: 55px;
    border-bottom: 3px solid #E2871A;
}

.cabecalho__visualizacao-dados select {
    width: 100%;
}

.cabecalho__seletor-visualizacao-dados{
    background-color: #fff;
    color: #E2871A;
}

.cabecalho__visualizacao-dados__item select:first-child, .cabecalho__seletor-visualizacao-dados__item select:first-child{
    padding-left: 20px;
}

.cabecalho__visualizacao-dados__item, .cabecalho__seletor-visualizacao-dados__item{
    float: left;
    width: 25%;
    text-align: center;
    font-size: small;
    /*padding-left: 20px;*/
}

.cabecalho__seletor-visualizacao-dados__item{
    border-bottom: 3px solid #CCC;
    height: 65px;
    padding-top: 15px;
}

.cabecalho__seletor-visualizacao-dados__item.selecionado{
    border-bottom: 3px solid #E2871A;
}

.cabecalho__seletor-visualizacao-dados i {
    display: block;
}

/*
* mini-menu compartilhar / download
*/

.cabecalho .select__sub-menu {
    width: 45px;
    height: 25px;
    border: 1px solid #999;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
    line-height: 25px;
    letter-spacing: 5px;
    color: #999;
    margin-top: 17px;
    cursor: pointer;
}

.select__sub-menu .select__submenu-aberto {
    display: none;
}

.select__sub-menu.submenu-aberto > div {
    display: block;
}

.select__sub-menu.submenu-aberto {
    background-color: #CCC;
    color: initial;
    border: none;
}

.select__submenu-aberto{
    background-color: #ccc;
    position: relative; 
    text-align: left;
    margin-left: -95px;
    width: 140px;
}

.select__submenu-aberto > div {
    padding: 10px 0;
    letter-spacing: initial;
    color: initial;
    cursor: pointer;
    padding-left: 10px;

}

.select__submenu-aberto > div:hover {
    background-color: #999;
}

.select__submenu-aberto i{
    color: #fff;
}

.select__submenu-aberto span{
    background-color: #1B779B;
    border-radius: 20px;
    padding: 8px 10px; 
}

/*
* estrutura tabela
*/

table{
    width: 100%;
    font-size: .95em;
}

td.p{
    width: 38%; 
}

td.s{
    background-color: red;
    width: 15.5%;
}

td.label {
    border-right: 3px solid #fff;
}

.nivel-2{
    color: #E2871A;
}

.nivel-2 .label{
    font-weight: bold;
    text-transform: uppercase;
    padding: 13px 0px;
    padding-left: 15px;
    background: #1B779B;
    color: #fff; 
}


.nivel-2 .valor{
    border-bottom: 2px solid #CCCCCC;
}

.nivel-3{
    font-weight: bold;
}

.nivel-3 td{
    padding: 13px 0px;
}

.nivel-3 .label{
    background-color: #808080;
    color: #fff;
    background-image: url('./../../img/seta_terceiro_nivel.png');
    background-repeat: no-repeat;
    background-position: 10px -24px;
    padding-left: 29px;
}

.nivel-3.aberto .label{
    background-position: 10px 20px;
}

.nivel-4 td{
    padding: 12px 0px;
    color: #333333;
    background-color: #cccccc;
    border-bottom: 5px solid #fff;
}

.nivel-4 .label{
    background-image: url('./../../img/seta_quarta_e_quinto_e_sexto_nivel.png');
    background-repeat: no-repeat;
    background-position: 10px -25px;
    padding-left: 29px;
    
}

tr.nivel-4 td:first-child {
    border-bottom-color: #E6E6E6;
}

.nivel-4.aberto .label{
    background-position: 10px 20px;
}

.nivel-5 td{
    padding: 12px 0px;
    color: #333333;
}

.nivel-5 .label{
    background-image: url('./../../img/seta_quarta_e_quinto_e_sexto_nivel.png');
    background-repeat: no-repeat;
    background-position: 10px -25px;
    padding-left: 29px;
    
    font-weight: bold;
    text-transform: uppercase;
}

.nivel-5.aberto .label{
    background-position: 10px 20px;
}


.nivel-6 td{
    padding: 7px 0px;
    color: #333333;
}

.nivel-6 .label{
    background-position: 22px -31px;
    padding-left: 40px;
    
    text-transform: uppercase;

    background-image: url('./../../img/seta_quarta_e_quinto_e_sexto_nivel.png');
    background-repeat: no-repeat; 
}

.nivel-6 td{
    border-bottom: 1px solid #CCCCCC;
}

.nivel-6.aberto .label{
    background-position: 22px 13px;
}

.nivel-7 td{
    padding: 7px 0px;
    color: #333333;
}

.nivel-7 .label{
    background-position: 22px -31px;
    padding-left: 40px;
    font-weight: bold;
    background-image: url('./../../img/seta_setimo_e_oitavo_nivel.png');
    background-repeat: no-repeat; 
}

.nivel-7.aberto .label{
    background-position: 22px 13px;
}


.nivel-8 td{
    padding: 7px 0px;
    color: #333333;
}

.nivel-8 .label{
    background-position: 41px -31px;
    padding-left: 60px;
    background-image: url('./../../img/seta_setimo_e_oitavo_nivel.png');
    background-repeat: no-repeat; 
}

.nivel-8.aberto .label{
    background-position: 41px 13px;
}


.nivel-9 td{
    padding: 7px 0px;
    color: #333333;
}

.nivel-9 .label{
    background-position: 41px -31px;
    padding-left: 60px;
    font-style: italic;
}

.sem-filho .label{
    background-image: none;
}

.label--com-acao{
    width: 72%;
    float: left;
    /*background-color: yellow;*/
}

.acoes{
    float: right;
    width: 28%;
    /*background-color: red;*/
}

.acoes .acao{

}


.valor{
    text-align: center;
}

/*
* cor destaque na coluna adicionar comparação
*/
.compara-blank {
    background-color: #CADFEA;
}

td.compara-blank {
    background-color: #EEFCFF;
}

.nivel-4 td.compara-blank {
    background-color: #C2D6E1;
}


/*
* menu adicionar comparação (lista municípios)
*/

.add-municipio {
    /*width: 45px;
    height: 25px;
    border: 1px solid #999;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
    line-height: 25px;
    letter-spacing: 5px;
    color: #999;
    margin-top: 17px;*/
    cursor: pointer;
}

.add-municipio button {
    width: 100%;
    height: 55px;
    vertical-align: middle;
    border: none;
    background: transparent;
    cursor: pointer;
}

.estado-selecionado span {
    display: inline-block;
    height: 30px;
    /*padding: 0 17px;*/
    border-bottom: 3px solid #ccc;
    margin-bottom: 10px;
    width: 33%;
    text-align: center;
}

.estado-selecionado span.selecionado {
    border-bottom-color: #F15A24;
    color: #F15A24;
}

.por-estado__selecionar-municipio {
    display: none;
    text-align: left;
    background: #333;
    color: #fff;
    line-height: normal;
    position: relative;
    margin-left: -75px;
    padding: 0 10px;
    min-width: 260px;
}

.por-estado__selecionar-municipio .estado-selecionado {
    float: left;
    font-weight: bold;
    margin-top: 17px;
    font-size: .93em;
    width: 100%;
}

.por-estado__selecionar-municipio .total-encontrado {
    float: right;
    font-size: .8em;
    margin-top: 20px;
    margin-right: 9px;
}

.por-estado__selecionar-municipio input {
    width: 100%;
    color: #4D4D4D;
    height: 31px;
    margin-bottom: 15px;
}

.por-estado__selecionar-municipio ul {
    list-style-type: none;
}

.por-estado__selecionar-municipio ul li {
    border-bottom: 1px solid #737373;
    font-size: .9em;
    padding: 10px 0px;
    transition: padding-left 0.3s, background-color 0.3s;
}

.por-estado__selecionar-municipio ul li:hover {
    padding: 10px;
    background-color: #4D4D4D;
    transition: padding-left 0.3s, background-color 0.3s;
}

.por-estado__selecionar-municipio ul li span {
    background-color: #4D4D4D;
    border-radius: 30px;
    padding: 4px 6px;
    font-size: .7em;
    margin-left: 8px;
}

.submenu-aberto > div {
    display: block;
}

.add-municipio.submenu-aberto {
    background-color: #333;
    color: #fff;
}

.todos-municipios__titulo {
    font-weight: bold;
    margin: 0px 0px 5px;
    font-size: .9em;
}



/**
* GRÁFICO
*/
.table--sem--colunas {
    width: 38%;
    display: inline-block;
    vertical-align: top;
}

.table--sem--colunas tr td {
    display: none;
}

.table--sem--colunas tr td:first-child {
    display: table-cell;
    /*width: 100%;*/
}

.grafico-container {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.grafico-container hr {
    border: 2px solid #f1f1f1;
}

.grafico {
    padding: 0 5% 5% 5%;
}

.grafico-cabecalho {
    padding: 2% 5%;
    overflow: hidden;
}

.cabecalho__titulo {
    color: gray;
    text-transform: uppercase;
}

.cor-destaque {
    color: #F15A24;
}

.grafico__breadcrumb {
    margin-bottom: 5%;
}


.grafico__breadcrumb span {
    text-decoration: underline;
}

.grafico-horizontal-bar__total{
    padding: 0 5%;
    font-size: small;
}

.grafico-horizontal-bar__total span{
    display: inline-block;
}

.grafico-legenda__indicador {
    padding-left: 40px;
}

.grafico-legenda__total {
    float: right;
}