<div class="conteudo__detalhes" [class.aberto]="aberto">
    <div class="cabecalho">
        <h2 class="cabecalho__titulo">{{ tituloPrincipal }}</h2>
        <i class="cabecalho__duvida fa fa-question-circle" aria-hidden="true"></i>
        <div class="cabecalho__download">
            <i class="fa fa-download" aria-hidden="true" (click)="onDownload()"></i>
        </div>

        <select class="cabecalho__combobox" (change)="onChange($event)">
            <option *ngFor="let dado of dadosCombo;">{{ dado.indicador }}</option>
        </select>
    </div>

    <table cellpadding="0" cellspacing="0">
        <tr>
            <td colspan='2'>
                Indicador
            </td>
            <td>
                {{ anos[0] }}
            </td>
            <td>
                {{ anos[1] }}
            </td>
            <td>
                -
            </td>
        </tr>

        <template ngFor let-dado [ngForOf]="dadosTabela">
            <tr [ngClass]="'nivel-' + dado.nivel" (click)="onClick(dado)" *ngIf="dado.visivel"
                [class.nivel-2__cursor]="dado.nivel == 2 && dado.children.length > 0">
                <td>
                    <!--nome do indicador-->
                    <div>
                        {{ dado.indicador }}
                    </div>
                </td>
                <td>
                    <!--ícone da seta-->
                    <i *ngIf="dado.nivel == 2 && dado.children.length > 0" class="fa" aria-hidden="true"
                        [class.fa-chevron-right]="dado.children.length > 0 && !dado.children[0].visivel"
                        [class.fa-chevron-down]="dado.children.length > 0 && dado.children[0].visivel"></i>
                </td>
                <!--valores-->
                <td>
                    {{ (dado.resultados ? (dado.resultados.length >= 1 ? dado.resultados[0].valor : '-') : ' ') | resultado: true }}
                    <span *ngIf="dado.resultados && dado.resultados.length >= 1 && dado.nivel == 0"> <br> {{ dado.unidade?.id }}</span>
                </td>
                <td>
                    {{ (dado.resultados ? (dado.resultados.length >= 2 ? dado.resultados[1].valor : '-') : ' ') | resultado: true }}
                    <span *ngIf="dado.resultados && dado.resultados.length >= 2 && dado.nivel == 0"> <br> {{ dado.unidade?.id }}</span>
                </td>
                <td>
                    {{ dado.resultados ? '-' : ' ' }}
                </td>
            </tr>
        </template>
    </table>
</div>