table{
    
    font-size: .9em;
    width: 100%;
 
}

td{
    padding-left: 2%;
    padding-right: 2%;
}

tr:first-child td{
    border-bottom: 3px solid #E2871A;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 0.86em;
}

tr:nth-child(2) td{
    color: #E2871A;
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: bold;
    line-height: 14px;
    border-bottom: 2px solid #D9D8D7; 
    font-size: .9em;
}


.nivel-1 td{
    padding-top: 30px;
    font-weight: bold;
    padding-bottom: 5px;
}

tr.nivel-1:nth-child(3) td{
    padding-top: 11px;
}

.nivel-2 td{
    background-color: #E6E6E6;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 4px solid #fff;
    
    font-size: 0.88em;
}

.nivel-2 td:first-child{
    padding-left: 5%;
}

.nivel-2 td:nth-child(2){
    width: 15%;
}

.nivel-2 td i{
    color: #808080;
}

.nivel-2__cursor{
    cursor: pointer;
}

.nivel-3 td{
    font-weight: bold;
    font-size: 0.88em;
}

.nivel-3 td:first-child{
    padding-left: 7%;
    padding-top: 10px;
}

.nivel-4 td{
    font-size: 0.88em;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nivel-4 td:first-child{
    padding-left: 10%;
}

.nivel-5 td{
    font-size: 0.88em;
}

.nivel-5 td:first-child{
    padding-left: 15%;
}

.nivel-5 div{
    border-left: 1px solid #B7B5B3;
    padding-left: 5px;

}

.nivel-5:hover, .nivel-4:hover{
    background-color: #f5f0f0;
}

/*-----------------------------------*/

.cabecalho{
    border-bottom: 1px solid #D9D8D7;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.cabecalho__titulo{
    font-weight: bold;
    padding: 2%;
    font-size: 1.3em;
    float: left;
}

.cabecalho__duvida{
    color: #F7931E;
    float: left;
    font-size: 1.3em;
    margin-top: 2.6%;
}

.cabecalho__download{
    float: right;
    background-color: #2B93B2;
    color: #fff;
    margin-top: 2.5%;
    border-radius: 22px;
    width: 22px;
    height: 22px;
    font-size: .9em;
    padding-left: 4px;
    padding-top: 1px;
    margin-right: 2%;
}

.cabecalho__combobox{
    clear: both;
    display: block;
    margin: 3% 0% 1% 2%;
    padding: 3px 6px;
    width: 45%;
    border-radius: 10px;
    border: 1px solid #B3B3B3;
    /*-webkit-appearance: none;
    -moz-appearance: none;
    background: url(http://webinfocentral.com/Images/favicon.ico) 95% / 10% no-repeat #fdfdfd;*/
}