<div class="conteudo__detalhes">
    <div class="cabecalho">
        <h2 class="cabecalho__titulo">Educação</h2>
        <i class="cabecalho__duvida fa fa-question-circle" aria-hidden="true"></i>
        <div class="cabecalho__download">
            <i class="fa fa-download" aria-hidden="true"></i>
        </div>

        <select class="cabecalho__combobox" (change)="onChange($event)">
            <option *ngFor="let dado of dadosCombo;">{{ dado.indicador }}</option>
        </select>
    </div>

    <table cellpadding="0" cellspacing="0">
        <tr>
            <td colspan='2'>
                Indicador
            </td>
            <td>
                2010
            </td>
            <td>
                2011
            </td>
            <td>
                2012
            </td>
        </tr>

        <tr>
            <td colspan='2'>
                {{ tituloTabela }}
            </td>
            <td>
                633.986
            </td>
            <td>
                633.986
            </td>
            <td>
                633.986
            </td>
        </tr>

        <template ngFor let-dado [ngForOf]="dadosTabela">
            <tr [ngClass]="'nivel-' + dado.nivel" (click)="onClick(dado)" *ngIf="dado.visivel"
                [class.nivel-2__cursor]="dado.nivel == 2 && dado.children.length > 0">
                <td>
                    <div>
                        {{ dado.indicador }}
                    </div>
                </td>
                <td>
                    <i *ngIf="dado.nivel == 2 && dado.children.length > 0" class="fa" aria-hidden="true"
                        [class.fa-chevron-right]="dado.children.length > 0 && !dado.children[0].visivel"
                        [class.fa-chevron-down]="dado.children.length > 0 && dado.children[0].visivel"></i>
                </td>
                <td>633.986</td>
                <td>633.986</td>
                <td>633.986</td>
            </tr>
        </template>
    </table>
</div>