.nao-achei{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
}

.nao-achei__aba{
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 5px 5px 0 0;
}

.nao-achei__label{
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
}

.nao-achei__fechar{
    margin-left: 25px;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
}

.nao-achei__form{
    max-width: 512px;
    margin: auto;
    padding: 0 10px;
    background-color: black;
    border-radius: 5px 5px 0 0;
    max-height: 0px;
    transition: max-height 0.3s, padding 0.3s;
}

.nao-achei__form--aberto{
    max-height: 500px;
    padding: 10px 10px;
}

.nao-achei__item{
    display: block;
    width: 100%;
    margin-bottom: 7px;
    padding: 5px 10px;
}

.nao-achei__item:last-child{
    margin-bottom: 0;
}

.nao-achei__botao-container{
    text-align: right;
}

.nao-achei__botao{
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
    border-radius: 21px;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 10px;
}

.nao-achei__escondido{
    display: none;
}