<div class="nao-achei" *ngIf="!esconde">
    <p class="nao-achei__aba">
        <span class="nao-achei__label" (click)="aberto = true;">Não encontrou o que procurava?</span>
        <i class="fa fa-times nao-achei__fechar" aria-hidden="true" (click)="aberto ? aberto = false : esconde = true;"></i>
    </p>
    <form class="nao-achei__form" [class.nao-achei__form--aberto]="aberto">
        <input type="email" placeholder="Seu email" class="nao-achei__item">
        <input type="input" placeholder="Assunto" class="nao-achei__item">
        <textarea rows="5" placeholder="Mensagem" class="nao-achei__item"></textarea>
        <div class="nao-achei__botao-container">
            <input type="submit" class="nao-achei__botao" value="Enviar">
        </div>
    </form>
</div>