.nao-achei{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
}

.nao-achei__aba{
    cursor: pointer;
    display: inline-block;
    background-color: #fff;
    /* color: white; */
    border-radius: 5px 5px 0 0;
    color: #000;
    box-shadow: 0px 2px 15px #555;
}

.nao-achei__label{
    padding: 7px 0px 7px 10px;
    display: inline-block;
}

.nao-achei__icone{
    padding: 5px 10px;
    display: inline-block;
}

.nao-achei__form{
    max-width: 512px;
    margin: auto;
    padding: 0 25px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    max-height: 0px;
    box-shadow: 0px 6px 11px #555;
    transition: max-height 0.3s, padding 0.3s;
}

.nao-achei__form--aberto{
    max-height: 500px;
    box-shadow: 0px 6px 11px #555;
    z-index: 2;
    position: relative;
    padding: 20px 25px;
}

.nao-achei__item{
    display: block;
    width: 100%;
    margin-bottom: 7px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.nao-achei__item:last-child{
    margin-bottom: 0;
}

.nao-achei__botao-container{
    text-align: right;
}

.nao-achei__botao{
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 21px;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 10px;
}

.nao-achei__escondido{
    display: none;
}