
    <template ngFor let-tema [ngForOf]="dados">

        <div *ngIf="!tema.tema" class="topo">

            <div *ngFor="let item of tema.indicadores; let first = first; let last=last" [ngClass]="{'topo__celula-esquerda': first, 'topo__celula-direita': last}">
                <h3 class="topo__titulo">
                    {{ item.titulo || item.indicador?.nome }}
                </h3>
                <p class="topo__valor">
                    {{ (item.indicador?.getResultadoByLocal(tema.localidade?.codigo) | async)?.valorValidoMaisRecente }}
                </p>
            </div>

        </div>
        
        
            
        <!--Para fixar na rolagem, adicionar/remover a classe "resumo-fixo" na div abaixo    -->
        <div [ngClass]="{'resumo__icons__1':tema.tema==='Trabalho','resumo__icons__2':tema.tema==='Educação','resumo__icons__3':tema.tema==='Território e Ambiente','resumo__icons__4':tema.tema==='Economia','resumo__icons__5':tema.tema==='Saúde', 'resumo__icons__6':tema.tema==='População','resumo-fixo': isHeaderStatic | async}"
            >
        <div *ngIf="tema.tema" class="mobile__exclusive temas__horizontais ">
            <div [ngSwitch]="tema.tema" class="lista__icone--mobile" (click)="fireTemaSelecionado('#'+tema?.tema?.substr(0,2).toLowerCase())">
               
               <!--Quando fixo, o menu de resumo precisa ter seus itens com margens esquerdas definidas individualmente.
               Quando forem adicionados novos temas, deve-se criar novas classes "resumo__icos__X"
               e se recalcular as margens de todas as anteriores-->
               <div *ngSwitchCase="'Trabalho e Rendimento'" class="ico ico--trab "></div>
               <div *ngSwitchCase="'Educação'"class="ico ico--edu "></div>
               <div *ngSwitchCase="'Território e Ambiente'" class="ico ico--ambi "></div>
               <div *ngSwitchCase="'Economia'" class="ico ico--eco "></div>
               <div *ngSwitchCase="'Saúde'" class="ico ico--sau "></div>
               <div *ngSwitchCase="'População'" class="ico ico--pop"></div>
               
                <!--<div *ngSwitchCase="'Agricultura'" class="ico ico--agri "></div>
                <div *ngSwitchCase="'Frota'" class="ico ico--frota"></div>-->
            
            </div>
        </div>
        </div>

        <table *ngIf="tema.tema" class="lista" (click)="fireTemaSelecionado('#'+tema?.tema?.substr(0,2).toLowerCase())" [class.hide-content]="temaAtual != '#'+tema?.tema?.substr(0,2).toLowerCase()">
            <tr class="lista__cabecalho">
                
                <th [ngSwitch]="tema.tema" class="lista__icone">
                    <div *ngSwitchCase="'Agricultura'" class="ico ico--agri"></div>
                    <div *ngSwitchCase="'Educação'" class="ico ico--edu"></div>
                    <div *ngSwitchCase="'Economia'" class="ico ico--eco"></div>
                    <div *ngSwitchCase="'Território e Ambiente'" class="ico ico--ambi"></div>
                    <div *ngSwitchCase="'População'" class="ico ico--pop"></div>
                    <div *ngSwitchCase="'Saúde'" class="ico ico--sau"></div>
                    <div *ngSwitchCase="'Trabalho e Rendimento'" class="ico ico--trab"></div>
                    <div *ngSwitchCase="'Frota'" class="ico ico--frota"></div>
                </th>

                <th class="lista__titulo" colspan="2">{{tema.tema}}</th>
                <th class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></th>
            </tr>

            <template ngFor let-item let-last="last" [ngForOf]="tema.indicadores">
                <tr class="lista__indicador">
                    <td></td>
                    <td class="lista__nome">
                        {{item.titulo || item.indicador?.nome}}
                        <small *ngIf="(item.indicador?.getResultadoByLocal(tema.localidade?.codigo) | async)?.periodoValidoMaisRecente">
                        {{ '[' + (item.indicador?.getResultadoByLocal(tema.localidade?.codigo) | async)?.periodoValidoMaisRecente + ']' }}
                        </small>
                    </td>
                    <td class="lista__valor" colspan="2">
                        {{ (item.indicador?.getResultadoByLocal(tema.localidade?.codigo) | async)?.valorValidoMaisRecente | resultado}}
                        <span class="lista__unidade">{{item.unidade || item.indicador?.unidade.nome }}</span>
                    </td>
                </tr>
                <tr *ngIf="!last" class="lista__separador">
                    <td colspan="4">
                        <div class="lista__linha"></div>
                    </td>
                </tr>
            </template>

        </table>
    </template>
	
    <!--
    <div class="topo">
        <div class="topo__celula-esquerda">
            <h3 class="topo__titulo">Código</h3>
            <p class="topo__valor">33045</p>
        </div>
        <div class="topo__celula-direita">
            <h3 class="topo__titulo">Prefeito</h3>
            <p class="topo__valor">Marcelo Bezerra Crivella <span class="topo__unidade">PMDB</span></p>
        </div>
    </div>

    <table class="lista">
        <tr class="lista__cabecalho lista__cabecalho--selecionado">
            <th class="lista__icone"><i class="fa fa-graduation-cap" aria-hidden="true"></i></th>
            <th class="lista__titulo" colspan="3">Educação</th>
        </tr>
        <tr class="lista__indicador lista__indicador--selecionado">
            <td></td>
            <td class="lista__nome">IDEB</td>
            <td class="lista__valor">4,4 <span class="lista__unidade">%</span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
        <tr class="lista__separador">
            <td colspan="4">
                <div class="lista__linha"></div>
            </td>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Escolarização</td>
            <td class="lista__valor">XX <span class="lista__unidade">%</span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
    </table>

    <table class="lista">
        <tr class="lista__cabecalho">
            <th class="lista__icone"><img src="img/trabalho.svg" /></th>
            <th class="lista__titulo" colspan="3">Trabalho</th>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Emprego Formal</td>
            <td class="lista__valor">XXXX <span class="lista__unidade"></span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
        <tr class="lista__separador">
            <td colspan="4">
                <div class="lista__linha"></div>
            </td>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Rendimento Médio</td>
            <td class="lista__valor">XXXX <span class="lista__unidade"></span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
    </table>

    <table class="lista">
        <tr class="lista__cabecalho">
            <th class="lista__icone"><i class="fa fa-leaf" aria-hidden="true"></i></th>
            <th class="lista__titulo" colspan="3">Meio Ambiente</th>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Emprego Formal</td>
            <td class="lista__valor">XXXX <span class="lista__unidade"></span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
        <tr class="lista__separador">
            <td colspan="4">
                <div class="lista__linha"></div>
            </td>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Rendimento Médio</td>
            <td class="lista__valor">XXXX <span class="lista__unidade"></span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
    </table>

    <table class="lista">
        <tr class="lista__cabecalho">
            <th class="lista__icone"><i class="fa fa-money" aria-hidden="true"></i></th>
            <th class="lista__titulo" colspan="3">Economia</th>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Emprego Formal</td>
            <td class="lista__valor">XXXX <span class="lista__unidade"></span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
        <tr class="lista__separador">
            <td colspan="4">
                <div class="lista__linha"></div>
            </td>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Rendimento Médio</td>
            <td class="lista__valor">XXXX <span class="lista__unidade"></span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
    </table>

    <table class="lista">
        <tr class="lista__cabecalho">
            <th class="lista__icone"><i class="fa fa-medkit" aria-hidden="true"></i></th>
            <th class="lista__titulo" colspan="3">Saúde</th>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Emprego Formal</td>
            <td class="lista__valor">XXXX <span class="lista__unidade"></span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
        <tr class="lista__separador">
            <td colspan="4">
                <div class="lista__linha"></div>
            </td>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Rendimento Médio</td>
            <td class="lista__valor">XXXX <span class="lista__unidade"></span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
    </table>

    <table class="lista">
        <tr class="lista__cabecalho">
            <th class="lista__icone"><img src="img/populacao.svg" /></th>
            <th class="lista__titulo" colspan="3">População</th>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Emprego Formal</td>
            <td class="lista__valor">XXXX <span class="lista__unidade"></span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
        <tr class="lista__separador">
            <td colspan="4">
                <div class="lista__linha"></div>
            </td>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Rendimento Médio</td>
            <td class="lista__valor">XXXX <span class="lista__unidade"></span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
    </table>

    <table class="lista">
        <tr class="lista__cabecalho">
            <th class="lista__icone"><img src="img/agricultura.svg" /></th>
            <th class="lista__titulo" colspan="3">Agricultura</th>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Emprego Formal</td>
            <td class="lista__valor">XXXX <span class="lista__unidade"></span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
        <tr class="lista__separador">
            <td colspan="4">
                <div class="lista__linha"></div>
            </td>
        </tr>
        <tr class="lista__indicador">
            <td></td>
            <td class="lista__nome">Rendimento Médio</td>
            <td class="lista__valor">XXXX <span class="lista__unidade"></span></td>
            <td class="lista__seta"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
        </tr>
    </table>
    -->