*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.aniversarios{
}

.bg{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: absolute;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.container{
    width: 862px;
    position: absolute;
    margin-left: 50%;
    left: -431px;
}

i.fa-times{
    color: #fff;
    float: right;
}

h2{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

.aniversario__header{
    padding: 12px 25px;
    background-color: #1b779b;
    height: 70px;
}
.aniversario__header nav{
    width: 837px;
}
.aniversario__header nav ul{
    display: inline;
}

.aniversario__header nav ul li{
    display: inline;
    color: #fff;
    font-size: 0.9em;
}

.aniversario__header nav ul li:not(:first-child)::before{
    content: ' | ';
}

.aniversario__header nav ul li:nth-child(3){
    padding-left: 20px;
}

.aniversario__header nav ul li:nth-child(3)::before,
.aniversario__header nav ul li:last-child::before{
   content: ' ';
}

.aniversario__header nav ul li:last-child{
    margin-left: 20px;
}

.aniversario__content{
    width: calc(100% - 50px);
    background-color: #fff;
    padding: 12px 25px;
    display: table;
}
.aniversario__dia{
    clear: both;
    margin-top: 30px;
    float: left;
}

.aniversario__numero{
    float: left;
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: -1px;
}

.aniversario__municipios{
    float: left;
    width: 760px;
    margin-left: -14px;
    margin-top: 7px;
}

.aniversario__municipio{
    float: left;
    margin-left: 35px;
    margin-bottom: 12px;
}

.aniversario__municipio span{
    background-color: #4d4d4d;
    border-radius: 30px;
    padding: 4px 6px;
    font-size: .7em;
    margin-left: 3px;
    color: #fff;
    margin-right: 4px;
}