.container{
    margin: 3% 5%;
}

h4{
    font-size: 1.3em;
}

.mapas__mapa{
    margin-top: 50px;
}

/*MAIS DE 1 MAPA NA TELA*/
.mapas--variosMapas .mapas__mapa{
    width: 50%;
    float: left;
    padding-right: 5%;
    border-left: 7px solid #FFF;
}

.mapas--variosMapas .mapas__mapa:nth-child(2){
    padding-left: 5%;
    padding-right: 0%;
    border-color: #ccc;
}