<div class="container">
    
    <p class="instrucao">Para alterar os dados selecione um novo indicador clicando em uma seta.</p>

    <breadcrumb [breadcrumb]="breadcrumb"></breadcrumb>
    
    <linha-tempo [anos]="listaPeriodos" [anoSelecionado]="periodo" (onAno)="mudaAno($event);"></linha-tempo>
    
    <div [class.mapas--variosMapas]="mapas.length > 1">
        
        <div class="mapas__mapa" *ngFor="let mapa of mapas">
            <h4>Municípios {{getPreposicaoUF(mapa.localidade.nome)}} {{mapa.localidade.nome}}</h4>
            <div class="tamanho_cartograma">
            <ibge-cartograma
                [localidade]="mapa.localidade"
                [localidadesMarcadas]="mapa.localidadesMarcadas"
                *ngIf="!isPrerender && mapa.localidade?.codigo != 53"
                [resultados]="mapa.resultados"
                [periodo]="periodo"
                [indicador]="indicador"
            ></ibge-cartograma>
            </div>

        </div>

    </div>

</div>