<div class="container">
    
    <breadcrumb [indicadores]="indicadores" [indicadorSelecionado]="indicadorSelecionado"></breadcrumb>
    <linha-tempo [anos]="listaPeriodos" [indexSelecionado]="anoSelecionado" (onAno)="mudaAno($event);"></linha-tempo>
    
    <div class="mapas--variosMapas">
        
        <div class="mapas__mapa">
            <h4>MUNICÍPO DO RIO DE JANEIRO</h4>
            <ibge-cartograma [localidade]="mun" *ngIf="!isPrerender && mun?.codigo != 530010" [resultados]="resultados" [titulo]="tituloCartograma"></ibge-cartograma>
        </div>

        <div class="mapas__mapa">
            <h4>ESTADOS DO BRASIL</h4>
            <ibge-cartograma [localidade]="mun" *ngIf="!isPrerender && mun?.codigo != 530010" [resultados]="resultados" [titulo]="tituloCartograma"></ibge-cartograma>
        </div>


        <div class="mapas__mapa">
            <h4>ESTADOS DO BRASIL</h4>
            <ibge-cartograma [localidade]="mun" *ngIf="!isPrerender && mun?.codigo != 530010" [resultados]="resultados" [titulo]="tituloCartograma"></ibge-cartograma>
        </div>
    
    </div>

</div>