<div class="loading" *ngIf="carregando">
    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
</div>

<div class="component" *ngIf="!carregando">
    <div class="comp__info">
        <h3 class="comp__titulo">Pirâmide Etária</h3>
    </div>
    <div class="comp__conteudo">

        <div class="grafico" *ngIf="data">

            <div class="tool-tip" *ngIf="data.selectedIndex!==null" [style.top.px]="data.toolTipPosition.y" [style.left.px]="data.toolTipPosition.x">
                <h3>{{data.piramide[data.selectedIndex].classe}}</h3>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Localidade</th>
                            <th>Brasil</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Homens</td>
                            <td class="number">{{data.piramide[data.selectedIndex].cidade.homens | resultado}}</td>
                            <td class="number">{{data.piramide[data.selectedIndex].brasil.homens | resultado}}</td>
                        </tr>
                        <tr>
                            <td>Mulheres</td>
                            <td class="number">{{data.piramide[data.selectedIndex].cidade.mulheres | resultado}}</td>
                            <td class="number">{{data.piramide[data.selectedIndex].brasil.mulheres | resultado}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table class="piramide" (mousemove)="moveToolTip($event)">
                <tbody>
                    <tr *ngFor="let item of data.piramide; let i = index;" [attr.class]="(i%2 ? 'par' : 'impar')">
                        <td [attr.class]="'classe '+(i%2 ? 'par' : 'impar')">{{item.classe}}</td>
                        <td *ngIf="i==0" class="grafico" [attr.rowspan]="data.piramide.length">
                            <svg viewBox="-100 0 200 100" preserveAspectRatio="none">
                                <g class="piramide">
                                    <g class="faixas">
                                        <rect *ngFor="let item of data.piramide; let i = index;" (mouseover)='setTip(i)' (mouseleave)='setTip(null)' [attr.class]="(i%2 ? 'par' : 'impar')" [attr.x]="-100" [attr.y]="data.py*i" [attr.width]="200" [attr.height]="data.py" />
                                    </g>
                                    <g class="brasil">
                                        <rect *ngFor="let item of data.piramide; let i = index;" (mouseover)='setTip(i)' (mouseleave)='setTip(null)' class="brasil" [attr.x]="0" [attr.y]="data.py*i" [attr.width]="(item.brasil.mulheres/data.max.brasil)*100" [attr.height]="data.py" />
                                        <rect *ngFor="let item of data.piramide; let i = index;" (mouseover)='setTip(i)' (mouseleave)='setTip(null)' class="brasil" [attr.x]="(item.brasil.homens/data.max.brasil)*-100" [attr.y]="data.py*i" [attr.width]="(item.brasil.homens/data.max.brasil)*100" [attr.height]="data.py" />
                                    </g>
                                    <g class="cidade">
                                        <rect *ngFor="let item of data.piramide; let i = index;" (mouseover)='setTip(i)' (mouseleave)='setTip(null)' class="mulheres" [attr.x]="0" [attr.y]="data.py*i + 1" [attr.width]="(item.cidade.mulheres/data.max.cidade)*100" [attr.height]="data.py - 2" />
                                        <rect *ngFor="let item of data.piramide; let i = index;" (mouseover)='setTip(i)' (mouseleave)='setTip(null)' class="homens" [attr.x]="(item.cidade.homens/data.max.cidade)*-100" [attr.y]="data.py*i + 1" [attr.width]="(item.cidade.homens/data.max.cidade)*100" [attr.height]="data.py - 2" />
                                    </g>
                                </g>
                            </svg>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="legenda">
                    <tr>
                        <td></td>
                        <td class="sexo">Homens &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mulheres</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="escopo"><svg width="15" height="10" viewBox="0 0 15 10" preserveAspectRatio="none"><path d="M 0 10 L 7.5 0 L 15 10 Z" /></svg> Brasil</td>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>
</div>
