<template ngFor let-item [ngForOf]="temas" let-first="first" let-idx="index">
    <div [id]="item.tema.substr(0,2).toLowerCase()" *ngIf="first || temas[idx-1].tema !== item.tema" class="ancora-click-resumo">
        <div [id]="item.tema.substr(0,2).toLowerCase()+'-alt'"></div>
    </div>
    <div class="borda" *ngIf="!first"></div>

    <div class="cabecalho" id="cont" *ngIf="first || temas[idx-1].tema !== item.tema">
        <div class="cabecalho__celula-esquerda">
            <h2 class="cabecalho__titulo">{{item.tema}}</h2>
        </div>

        <div *ngIf="textos[item.tema]" class="cabecalho__celula-direita cabecalho__celula-direita--fader" [class.cabecalho__descricao__aberto]="textoAberto"
            (click)="textoAberto=!textoAberto">
            <!--Inserir CLICK na div toda, adicionando/removendo a classe "cabecalho__descricao__aberto"-->
            <p class="cabecalho__descricao">
                {{ textos[item.tema] }}
            </p>

            <div class="mobile-exclusive cabecalho__descricao__showhide">
                <i class="fa fa-chevron-down cabecalho__descricao__bt--show" aria-hidden="true"></i>
                <i class="fa fa-chevron-up cabecalho__descricao__bt--hide" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <panorama-painel *ngIf="item.painel.length > 0" [dados]="item.painel" [localidade]="localidade"></panorama-painel>

    
    <div class="grafico" *ngFor="let obj of item.graficos; let i = index">

        <h2 class="grafico__titulo">{{obj.titulo}}
            <span class="grafico__unidade" *ngIf="obj.unidade && obj.unidade.nome">
                ( Unidade:
                    {{ obj.unidade.nome}}
                    <template [ngIf]="obj.unidade.multiplicador > 1">
                        x{{ obj.unidade.multiplicador}}
                    </template>
                )
            </span>
            
            <a [href]="obj.link" *ngIf="obj.link"><i class="fa fa-info-circle grafico__info" aria-hidden="true"></i></a>
        </h2>

        <div class="grafico__detalhes">
            <div class="grafico__legenda" *ngIf="obj.dados">
                <div class="grafico__legenda-item" *ngFor="let dado of obj.dados; let i = index">
                    <div class="grafico__legenda-cor grafico__legenda-cor--{{i+1}}"></div>
                    <p class="grafico__legenda-texto">{{ dado.label }}</p>
                </div>
            </div>
        </div>

        <grafico *ngIf="!isPrerender" [eixo]="obj.eixoX" [dados]="obj.dados" [tipo]="obj.tipo"></grafico>

        <!--<div class="botao-container">
            <div class="botao" *ngIf="grafico.dados && grafico.dados.length && grafico.dados[0].indicador && grafico.dados[0].indicador.fontes && grafico.dados[0].indicador.fontes.length > 0">
                <div class="area-click" [class.area-click--visivel]="mostrarFontes" (click)="mostrarFontes=false"></div>
                <button (click)="mostrarFontes=true">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Fonte
                </button>
                <div *ngIf="mostrarFontes" class="fontes__lista-container">
                    <ol>
                        <li *ngFor="let fonte of grafico.dados[0].indicador?.fontes;">{{ fonte }}</li>
                    </ol>
                </div>
            </div>

            <div class="botao" *ngIf="grafico.dados && grafico.dados.length && grafico.dados[0].indicador && grafico.dados[0].indicador.notas && grafico.dados[0].indicador.notas.length > 0">
                <div class="area-click" [class.area-click--visivel]="mostrarNotas" (click)="mostrarNotas=false"></div>
                <button (click)="mostrarNotas=true">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Notas
                </button>
                <div *ngIf="mostrarNotas" class="notas__lista-container">
                    <ol>
                        <li *ngFor="let nota of grafico.dados[0].indicador?.notas;">{{ nota }}</li>
                    </ol>
                </div>
            </div>

            <div class="botao" *ngIf="grafico.dados && grafico.dados.length && _pesquisasConfig.isValida(grafico.dados[0].pesquisaId)">
                <button (click)="navegarTabela(grafico.dados[0].pesquisaId);"><i class="fa fa-table" aria-hidden="true"></i> Tabela</button>
            </div>
        </div>-->

    </div>
    

</template> 