<table cellspacing="0" border='0' class='mobile-table'>
    <template ngFor let-indicador [ngForOf]="indicadores">
        <tr class='{{getStyleClass(indicador.posicao)}} mobile-tr' [class.aberto]="isListaAberta(indicador)" [class.sem-filho]="isFolha(indicador)" (click)="controlarExibicao(indicador)" *ngIf="indicador.visivel && !(indicador.isVazio && isOcultarValoresVazios)">
            
            <td class='label p '>
                <div class='label--com-acao'>{{ indicador.indicador }} <span class='mobile-unidade' *ngIf='indicador.unidade?.id'>({{ indicador.unidade?.id }})</span></div> 
                <div class='acoes'>
                </div>
            </td>  

            <td class='valor s' [class.sem-valor]="!indicador?.unidade?.id">{{ !!indicador.localidadeA ? (indicador.localidadeA[periodo] | resultado: indicador?.unidade?.id) : "" }}</td>
            <td class='valor s' [class.compara-blank]="!localidades[1]" [class.sem-valor]="!indicador?.unidade?.id">{{ !!indicador.localidadeB ? (indicador.localidadeB[periodo] | resultado: indicador?.unidade?.id) : "" }}</td>
            <td class='valor s' [class.compara-blank]="!localidades[2]" [class.sem-valor]="!indicador?.unidade?.id">{{ !!indicador.localidadeC ? (indicador.localidadeC[periodo] | resultado: indicador?.unidade?.id) : "" }}</td>
            <td class='valor s desk-unidade'>{{ indicador.unidade?.id }}</td>  
        </tr>
    </template>
    
    <div class="mensagem-vazio" *ngIf="indicadores && indicadores.length > 0 && indicadores[0].isVazio && isOcultarValoresVazios">
        Nenhum valor para exibir.
    </div>
</table>