/*
* estrutura tabela
*/

table{
    width: 100%;
    font-size: .95em;
}

td.p{
    width: 38%; 
}

.mobile-unidade{
    display: none;
}

td.s{
    width: 15.5%;
}

td.label {
    border-right: 3px solid #fff;
}

.nivel-2{
    color: #E2871A;
}

.nivel-2 td {
	padding: 13px 2%;
	}

.nivel-2:hover {
	background-color: #E6E6E6;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
	}
	
.nivel-2 .label{
    font-weight: bold;
    text-transform: uppercase;
    padding: 13px 0px;
    padding-left: 15px;
    background: #1B779B;
    color: #fff; 
}


.nivel-2 .valor{
    border-bottom: 2px solid #CCCCCC;
}

.nivel-3{
    font-weight: bold;
}

.nivel-3:hover{
	background-color: #E6E6E6;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
	}

.nivel-3 td{
    padding: 13px 2%;
}

.nivel-3 .label{
    background-color: #808080;
    color: #fff;
    background-image: url('./../../../img/seta_terceiro_nivel.png');
    background-repeat: no-repeat;
    background-position: 10px -24px;
    padding-left: 29px;
}

.nivel-3.aberto .label{
    background-position: 10px 20px;
}

.nivel-4:hover {
	background-color: #E6E6E6;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
}

.nivel-4 td{
    padding: 12px 2%;
    color: #333333;
    /*background-color: #cccccc;*/
	border-bottom: 2px solid #DFDFDF;
    /*border-bottom: 5px solid #fff;*/
}

.nivel-4 .label{
    background-image: url('./../../../img/seta_quarta_e_quinto_e_sexto_nivel.png');
    background-repeat: no-repeat;
    background-position: 10px -25px;
	background-color: #cccccc;
    padding-left: 29px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
    
}

.nivel-4 .label:hover {
	/*background-color: #B0B0B0;*/
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	}
	
tr.nivel-4 td:first-child {
    border-bottom-color: #E6E6E6;
}

.nivel-4.aberto .label{
    background-position: 10px 20px;
}

.nivel-5:hover {
	background-color: #E6E6E6;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
	}
.nivel-5 td{
    padding: 12px 2%;
    color: #333333;
}

.nivel-5 .label{
    background-image: url('./../../../img/seta_quarta_e_quinto_e_sexto_nivel.png');
    background-repeat: no-repeat;
    background-position: 10px -25px;
    padding-left: 29px;
    
    font-weight: bold;
    text-transform: uppercase;
}

.nivel-5.aberto .label{
    background-position: 10px 20px;
}

.nivel-6:hover {
	background-color: #E6E6E6;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
	}

.nivel-6 td{
    padding: 7px 2%;
    color: #333333;
}

.nivel-6 .label{
    background-position: 22px -31px;
    padding-left: 40px;
    
    text-transform: uppercase;

    background-image: url('./../../../img/seta_quarta_e_quinto_e_sexto_nivel.png');
    background-repeat: no-repeat; 
}

.nivel-6 td{
    border-bottom: 1px solid #CCCCCC;
}

.nivel-6.aberto .label{
    background-position: 22px 13px;
}

.nivel-7:hover {
	background-color: #E6E6E6;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
	}
.nivel-7 td{
    padding: 7px 2%;
    color: #333333;
}

.nivel-7 .label{
    background-position: 22px -31px;
    padding-left: 40px;
    font-weight: bold;
    background-image: url('./../../../img/seta_setimo_e_oitavo_nivel.png');
    background-repeat: no-repeat; 
}

.nivel-7.aberto .label{
    background-position: 22px 13px;
}

.nivel-8:hover {
	background-color: #E6E6E6;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
}

.nivel-8 td{
    padding: 7px 2%;
    color: #333333;
}

.nivel-8 .label{
    background-position: 41px -31px;
    padding-left: 60px;
    background-image: url('./../../../img/seta_setimo_e_oitavo_nivel.png');
    background-repeat: no-repeat; 
}

.nivel-8.aberto .label{
    background-position: 41px 13px;
}

.nivel-9:hover {
	background-color: #E6E6E6;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
	}
.nivel-9 td{
    padding: 7px 2%;
    color: #333333;
}

.nivel-9 .label{
    background-position: 41px -31px;
    padding-left: 60px;
    font-style: italic;
}

.nivel-1, .nivel-2, .nivel-3, .nivel-4, .nivel-5, .nivel-6, .nivel-7, .nivel-8{
    cursor: pointer;
}


.sem-filho .label{
    background-image: none;
    cursor: default;
}

.label--com-acao{
    width: 72%;
    float: left;
    /*background-color: yellow;*/
}

.acoes{
    float: right;
    width: 28%;
    /*background-color: red;*/
}

.acoes .acao{

}


.valor{
    text-align: right;
    cursor: default;
}

.valor:last-child {
	text-align:center;
	}

/*
* cor destaque na coluna adicionar comparação
*/
.compara-blank {
	opacity:0.6;
    background-color: #D9F8FF;
	border-left:1px solid #fff;
	border-right: 1px solid #fff;
}

td.compara-blank {
    /*background-color: #EEFCFF;*/
	opacity:0.6;
	background-color:#D9F8FF;
		border-left:1px solid #fff;
	border-right: 1px solid #fff;
}

.nivel-4 td.compara-blank {
   /* background-color: #C2D6E1;*/
	opacity:0.6;
   background-color: #D9F8FF;
   	border-left:1px solid #fff;
	border-right: 1px solid #fff;
}

/**
* GRÁFICO
*/
.table--sem--colunas {
    width: 38%;
    display: inline-block;
    vertical-align: top;
}

.table--sem--colunas tr td {
    display: none;
}

.table--sem--colunas tr td:first-child {
    display: table-cell;
    /*width: 100%;*/
}

.grafico-container {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.grafico-container hr {
    border: 2px solid #f1f1f1;
}

.grafico {
    padding: 0 5% 5% 5%;
}

.grafico-cabecalho {
    padding: 2% 5%;
    overflow: hidden;
}

.cabecalho__titulo {
    color: gray;
    text-transform: uppercase;
}

.cor-destaque {
    color: #F15A24;
}

.grafico__breadcrumb {
    margin-bottom: 5%;
}


.grafico__breadcrumb span {
    text-decoration: underline;
}

.grafico-horizontal-bar__total{
    padding: 0 5%;
    font-size: small;
}

.grafico-horizontal-bar__total span{
    display: inline-block;
}

.grafico-legenda__indicador {
    padding-left: 40px;
}

.grafico-legenda__total {
    float: right;
}


@media screen and (max-width: 768px) {
    /*Mobile*/
    .mobile-table{
        display: block;
    }

    .mobile-tr{
        display: block;
    }

    .mobile-tr .p{
        display: block;
        width: 100%;
    }
    
    .label--com-acao{
        float: none;
        width: 100%;
    }

    .mobile-unidade{
        display: inline;
    }

    .mobile-tr .s{
        display: inline-block;
        width: 32%;
    }

    .mobile-tr .s.desk-unidade{
        display: none;   
    }

    .nivel-2 .valor{
        border-bottom: none;
    }

    .nivel-4 td{
        border-bottom: none;
    }

    td.compara-blank, .nivel-4 td.compara-blank{
        background-color: transparent;   
    }

    td.label{
        border: none;
    }

    .nivel-6 td{
        border-bottom: none;
    }
    .nivel-1:hover, .nivel-2:hover, .nivel-3:hover, .nivel-4:hover, .nivel-5:hover, .nivel-6:hover, .nivel-7:hover, .nivel-8:hover, .nivel-9:hover{
        background-color: transparent;
    }
}