<div *ngIf="mapauf === false">
    <div class="mapa-legendalocal"><span class="local-atual">{{localAtual}}</span> 
    <span class="local-selecionado">{{irPara}} <a [routerLink]="localHoverLink">{{localHover}}</a></span></div>
    <div class="mapa" *ngIf="data">
        <svg [attr.viewBox]="data.viewBox" preserveAspectRatio="xMidYMid meet">
                <g class="uf" transform="scale(.18 -.18)">
                    <g *ngFor="let item of data.geometry" 
                        [attr.class]="item.classe" 
                        [attr.codigo]="item.codigo" 
                        [attr.nome]="item.nome" 
                        [attr.sigla]="item.sigla" 
                        [attr.link]="item.link" 
                        on-mouseover='over(item.nome,item.link)' 
                        (click)='clicked(item.nome,item.link)'>
                        <polygon *ngFor="let poly of item.polys" [attr.points]="poly" />
                    </g>
                </g>
        </svg>
    </div>
</div>

<div *ngIf="mapauf === true">
    <div class="mapa-legendalocal">
        <span class="local-atual">{{localAtual}}</span> 
        <span class="local-selecionado">{{irPara}} <br> <a [routerLink]="localHoverLink">{{localHover}}</a></span>
    </div>
    <div class="mapa" *ngIf="data">
        <svg [attr.viewBox]="data.viewBox" preserveAspectRatio="xMidYMid meet">
                <g class="uf" transform="scale(1 -1)">
                    <g *ngFor="let item of data.geometry" 
                        [attr.class]="item.classe" 
                        [attr.codigo]="item.codigo" 
                        [attr.nome]="item.nome" 
                        [attr.uf]="item.uf" 
                        [attr.link]="item.link" 
                        [attr.ano]="item.ano" 
                        [attr.valor]="item.valor" 
                        on-mouseover='over(item.nome,item.ano,item.valor,item.link)' 
                        (click)='clicked(item.nome,item.link)'>
                        <polygon *ngFor="let poly of item.polys" [attr.points]="poly" />
                    </g>
                </g>
        </svg>
    </div>
</div>