.mapa svg {
    width: 90%;
    margin: 0 5%;
    max-height: 700px;
    /*margin-top: -20px;*/
    /*height: 250px;   */
}
#faixas{
    /*position:absolute; 
    bottom:50px; 
    border:1px solid #ccc; */
    padding:0 0 7px 5%;
}
#faixas h4{ 
    font-size: 0.85em; 
    color: #FFF; 
    margin:0 0 5px 0; 
    padding:5px; 
    text-align: center;
    background-color: #888;
}
.txt-faixa{ 
    font-size: 0.82em; 
    line-height: 23px;
    margin-left: 5px; 
    vertical-align: bottom;
}
.ico-faixa{ 
    display:inline-block; 
    border:1px solid #aaa; 
    width:20px; 
    height:12px; 
    margin-left: 10px; 
}
.seletor-periodos{
    text-align: center;
}
.periodo-link:after {
    content: ' /';
}
.ico-faixa.faixa1{ background: #eae4dd; }
.ico-faixa.faixa0{ background: #e0db6b; }
.ico-faixa.faixa2{ background: #c8b7a3; }
.ico-faixa.faixa3{ background: #84786a; }
.ico-faixa.selecionado{ background: #0D4768; }

g.faixa1 polygon{ fill: #eae4dd; }
/*g.faixa0 polygon{ fill: #dcd2c5; }*/
g.faixa2 polygon{ fill: #c8b7a3; }
g.faixa3 polygon{ fill: #84786a; }
polygon {
    stroke: #fff;
    stroke-width: 0.01px;
    fill: #E8E267;
}
g.checked polygon {
    stroke: #fff;
    stroke-width: 0.01px;
    fill: #0D4768;
}
polygon:hover {
    fill: #e0db6b;
}

g, .periodo-link {
    cursor: pointer;
}

.mapa-legendalocal{
    /*position: absolute;*/
    margin-left: 50px;
}
.local-atual{
    font-weight: bold;
    color: #0d4768;
}
.local-selecionado{
    font-size: small;
    text-align: right;
    margin-right: 50px;
    float: right;
}
.local-selecionado a{
    text-decoration: underline;
}
.local-selecionado a:hover{
    color: #0d4768;
}
.hide{
    display: none;
}
