
<sintese-header [graficoBase64]="urlDownloadImagemGrafico" [ativo]="componenteAtivo" (visualizacaoAlterada)="exibirComponente($event)"></sintese-header>

<div *ngIf="componenteAtivo === 'grafico'">
    <grafico [tipoGrafico]="tipoGrafico" [dadosIndicador]="dadosIndicador" [nomeSerie]="nomeIndicador" [carregando]="isGraficoCarregando" (dataURL)="setDataURL($event)"></grafico>

    <div *ngIf="fontesIndicador?.length > 0" class="pesq__info">
        <br>
        <p *ngIf="temNota === true">
            Notas:
        </p>
        <ul>
            <!--<li *ngFor="let nota of notasIndicador">{{nota}}</li>-->
            <li *ngFor="let fonte of fontesIndicador"><span *ngIf="fonte.nota.length > 0">{{fonte.periodo}}</span>
                <ol>
                    <li *ngFor="let nota of fonte.nota">{{nota}}</li>
                </ol>
            </li>
            
        </ul>
    </div>
    <br>
    <div *ngIf="fontesIndicador?.length > 0" class="pesq__info">
        <p *ngIf="temFonte === true">
            Fonte:
        </p>
        <ul>
            <!--<li *ngFor="let fonte of fontesIndicador">{{fonte}}</li>-->
            <li *ngFor="let fonte of fontesIndicador"><span *ngIf="fonte.fonte.length > 0">{{fonte.periodo}}</span>
                <ol>
                    <li *ngFor="let fonte of fonte.fonte">{{fonte}}</li>
                </ol>
            </li>
        </ul>
    </div>
</div>

<div *ngIf="componenteAtivo === 'historico'">

    <fotos></fotos>

    <br>

    <historico></historico>
</div>


<div *ngIf="componenteAtivo != 'grafico' && componenteAtivo != 'historico'">
    <div *ngIf="local != ''">
        <mapa [codigoLocalidade]="codigoLocalidade" [dadosMapa]="dadosMapa | async" [dados]="dados | async"></mapa>
    </div>
</div>

