
.selecionar-localidade__mensagem{
    padding: 15px 0px 0px 0px;
}

.selecionar-localidade__letra{
    margin: 15px 0px 0px 0px;
    font-weight: bold;
    padding: 5px;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 13px;
    font-size: 1.3em;
}

/*****
ANIMAÇÃO
*****/
#selecionar-localidade.aberto{
   left: 0px;
}

#selecionar-localidade #primeira-coluna.aberto{
    left: 0%;
}

#selecionar-localidade #segunda-coluna.aberto{
    left: 0%;
    margin-left: -4px;
}

#segunda-coluna.aberto + #terceira-coluna {
    left: -70%
}

#selecionar-localidade #terceira-coluna.aberto{
    left: 0%;
    margin-left: -5px;
}



#selecionar-localidade{
    position: absolute;
    top: 54px;
    top: 88px; /* compensr barra gov federal */
    height: 100%;
    color:#fff;
    width: 100%;
    left: -9999999px;
    display: table;
    z-index: 21;
}

#selecionar-localidade #primeira-coluna{
    width: 21%;
    background-color: #333333;
    height: 100%;
    position: relative;
    z-index: 23;
    display: inline-block;
    left: -22%;

    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

#selecionar-localidade #segunda-coluna{
    width: 30%;
    height: 100%;
    display: inline-block;
    z-index: 22;
    position: relative;
    left: -50%;
    vertical-align: top;

    -webkit-transition: left 0.8s ease;
    -moz-transition: left 0.8s ease;
    -ms-transition: left 0.8s ease;
    -o-transition: left 0.8s ease;
    transition: left 0.8s ease;
}

.segunda-coluna__titulo{
    display: none;
}

#selecionar-localidade #segunda-coluna ul{
    margin-top: 10px;
    list-style: none;
}

#selecionar-localidade #segunda-coluna ul li{
    padding: 0px 15px;
    cursor: pointer;
    background-color: #1B779B;
    transition: background-color 0.3s;
}

.seletor-localidade__localidade-item,
#selecionar-localidade #segunda-coluna ul li div{
    padding: 10px 5px;
    border-bottom: 1px solid #165D72;
}

.seletor-localidade__localidade-item i,
#selecionar-localidade #segunda-coluna ul li div i{
    float: right;
}

#selecionar-localidade.municipio #segunda-coluna ul li:hover,
#selecionar-localidade.municipio #segunda-coluna ul li.selecionado{
    background-color: #165D72;
}

#selecionar-localidade.estado #segunda-coluna ul li:hover,
#selecionar-localidade.estado #segunda-coluna ul li.selecionado {
    background-color: #104C4C;
    transition: background-color 0.3s;
}

#selecionar-localidade #bg{
    width: 100%;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0px;
    position: absolute;
    opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.ie10 #selecionar-localidade #bg {
	opacity: 1;
	}
	
/* Hack para correto dimensionamento do mapa no IE 11 */
@media all and (-ms-high-contrast:none) {
	#selecionar-localidade #bg {
	opacity: 1;
	}

}

.seletor-localidade__link {
    display: block;
}

#selecionar-localidade .selecionar-localidade__voltar{
    padding: 9% 6% 3%;
    font-size: .75em;
    cursor: pointer;
}

#selecionar-localidade .selecionar-localidade__titulo{
    font-size: 1.1em;
    line-height: 21px;
    padding: 0% 6%;
    font-weight: bold;
    margin-bottom: 29px;
}

#selecionar-localidade nav ul li{
    font-size: .95em;
    padding: 11px 6%;
    border-top: 4px solid;
    background-color: #4D4D4D;
    cursor: pointer;
    transition: background-color 0.3s;
}

#selecionar-localidade nav ul li i{
    float: right;
}

#selecionar-localidade nav ul li:nth-child(1){
    /*border-color: #1F9982;*/
    border-color: #1B779B;
    transition: background-color 0.3s;
}

#selecionar-localidade nav ul li:nth-child(1):hover,
#selecionar-localidade nav ul li:nth-child(1).selecionado{
    background-color: #1B779B;
    transition: background-color 0.3s;
}

#selecionar-localidade nav ul li:nth-child(2){
    border-color: #148C99;
    transition: background-color 0.3s;
}

#selecionar-localidade nav ul li:nth-child(2):hover,
#selecionar-localidade nav ul li:nth-child(2).selecionado
{
    background-color: #148C99;
    transition: background-color 0.3s;
}

#selecionar-localidade nav ul li:nth-child(3){
    border-color: #1B779B;
    transition: background-color 0.3s;
}

#selecionar-localidade nav ul li:nth-child(3):hover, 
#selecionar-localidade nav ul li:nth-child(3).selecionado{
    background-color: #1B779B;
    transition: background-color 0.3s;
}


#selecionar-localidade #terceira-coluna{
    width: 49%;
    background-color: #333333;
    height: 100%;
    display: inline-block;
    z-index: 21;
    position: relative;
    padding: 0px 2%;
    left: -100%;
    vertical-align: top;

    -webkit-transition: left .8s ease;
    -moz-transition: left .8s ease;
    -ms-transition: left .8s ease;
    -o-transition: left .8s ease;
    transition: left .8s ease;
}

#selecionar-localidade #segunda-coluna.aberto + #selecionar-localidade #terceira-coluna{
    left:10%;
}

#selecionar-localidade #terceira-coluna .estado-selecionado{
    float: left;
    font-weight: bold;
    margin-top: 17px;
    font-size: .93em;
}

#selecionar-localidade #terceira-coluna .estado-selecionado i{
    display: none;
}

#selecionar-localidade #terceira-coluna .total-encontrado{
    float: right;
    font-size: .8em;
    margin-top: 20px;
    margin-right: 9px;
}

#selecionar-localidade #terceira-coluna i.fa-times{
    float: right;
    margin-top: 21px;
}

#selecionar-localidade #terceira-coluna input{
    width: 100%;
    margin-top: 10px;
    color: #4D4D4D;
    height: 31px;
}


#selecionar-localidade #terceira-coluna button{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 21px;
    font-size: .8em;
    margin: 11px 0%;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-transition: background 200ms ease, color 200ms ease;
    -moz-transition: background 200ms ease, color 200ms ease;
    -ms-transition: background 200ms ease, color 200ms ease;
    -o-transition: background 200ms ease, color 200ms ease;
    transition: background 200ms ease, color 200ms ease;
}

#selecionar-localidade #terceira-coluna button:hover{
    background-color: #FFFFFF;
    color: #4D4D4D;
}

#selecionar-localidade #terceira-coluna #municipios{
    margin: 0px 14px;
}

#selecionar-localidade #terceira-coluna #municipios .estado{
    font-size: .8em;
    padding: 7px 12px;
    border-bottom: 2px solid #979797;
    line-height: 23px;
    margin-top: 15px;
    
}

#selecionar-localidade #terceira-coluna #municipios .circulo{
    background-color: #4D4D4D;
    float: left;
    font-weight: bold;
    padding: 5px;
    border-radius: 102px;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 13px;
    font-size: 1.3em;
}

#selecionar-localidade #terceira-coluna #municipios .estado .circulo{
    font-size: 1em;
    margin-right: 8px;
}

#selecionar-localidade #terceira-coluna #municipios .conjunto{
    /*float: left;*/
    /* border-top: 2px solid #979797; */
    width: 100%;
    font-size: 0.8em;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #979797;
    display: table;
}

#selecionar-localidade #terceira-coluna #municipios .conjunto:nth-child(2n) {
    clear: left;
}

#selecionar-localidade #terceira-coluna #municipios .conjunto:nth-child(2n+1){
    float: right;
}



#selecionar-localidade #terceira-coluna #municipios .conjunto .letra{
    float: left;
    padding-left: 14px;
    padding-right: 10px;

}

#selecionar-localidade #terceira-coluna #municipios .conjunto .municipios{
    float: left;
    width: 92%;
}

#selecionar-localidade #terceira-coluna #municipios .conjunto .municipios ul{
    list-style: none;
}

#selecionar-localidade #terceira-coluna #municipios .conjunto .municipios ul li{
    float: left;
    width: 33%;
    padding-right: 4%;
    margin-bottom: 15px;
}

#selecionar-localidade #terceira-coluna #municipios .conjunto .municipios ul li:nth-child(3n+4){
    clear: both;
    /*background-color: red;*/
}

#terceira-coluna #todos-municipios ul{
    list-style: none;
}

#terceira-coluna  .todos-municipios__titulo{
    font-weight: bold;
    margin: 30px 0px 16px;
    font-size: .9em;
}

#terceira-coluna #todos-municipios ul li{
    border-bottom: 1px solid #737373;
    font-size: .9em;
    padding: 10px 0px;
    transition: padding-left 0.3s, background-color 0.3s;
}

#terceira-coluna #todos-municipios ul li:hover{
    padding: 10px;
    background-color: #4D4D4D;
    transition: padding-left 0.3s, background-color 0.3s;
}

#terceira-coluna #todos-municipios ul li span{
    background-color: #4D4D4D;
    border-radius: 30px;
    padding: 4px 6px;
    font-size: .7em;
    margin-left: 8px;
}


#selecionar-localidade #terceira-coluna.todos-municipios button{
    display: none;
}

#selecionar-localidade #terceira-coluna.todos-municipios #municipios{
    display: none;
}

#selecionar-localidade #terceira-coluna #todos-municipios{
    display: none;
}

#selecionar-localidade #terceira-coluna.todos-municipios #todos-municipios{
    display: block
}

.fa-times {
    cursor: pointer;
}


/**** só para mobile ****/
  .selecionar-localidade__fechar--mobile{
      display: none;
  }

  .selecionar-localidade__local-atual--mobile{
      display: none;
  }

  .selecionar-localidade__voltar--mobile{
      display: none;
  }

  .terceira-coluna__menu--mobile{
      display: none;
  }

  .terceira-coluna__titulo{
      display: none;
  }

  .por-estado__selecionar-estado{
      display: none;
  }

@media screen and (max-width: 1400px) {
    #selecionar-localidade #terceira-coluna #municipios .conjunto .municipios{
        width: 82%;
    }

    #selecionar-localidade #terceira-coluna #municipios .conjunto .municipios ul li{
        width: 50%;
    }
    
    #selecionar-localidade #terceira-coluna #municipios .conjunto .municipios ul li:nth-child(2n+4){
       clear: none;
       /*background-color: red;*/
    }

    #selecionar-localidade #terceira-coluna #municipios .conjunto .municipios ul li:nth-child(2n+3){
        clear: both;
        /*background-color: powderblue;*/
    }
}


@media screen and (max-width: 768px) {
    /*Mobile*/
    #selecionar-localidade{
        top: 42px;
        left: -100%;
        min-height: 100vh;
        overflow: hidden;
        display: block;
        z-index: 23;

        overflow: scroll;
        position: fixed;
    }

    #selecionar-localidade #bg{
        display: none
    }

    #selecionar-localidade #primeira-coluna{
        width: 100%;
        left: -100%;
        border-top: 3px solid #666666;


        -webkit-transition: left 0.5s cubic-bezier(0.42, 0, 0.51, 1);;
        -moz-transition: left 0.5s cubic-bezier(0.42, 0, 0.51, 1);;
        -ms-transition: left 0.5s cubic-bezier(0.42, 0, 0.51, 1);;
        -o-transition: left 0.5s cubic-bezier(0.42, 0, 0.51, 1);;
        transition: left 0.5s cubic-bezier(0.42, 0, 0.51, 1);;
    }
    
    #selecionar-localidade .selecionar-localidade__titulo{
        margin-bottom: 0px;
    }

    .selecionar-localidade__voltar{
        display: none;
    }

    .selecionar-localidade__fechar--mobile{
        float: right;
        padding-right: 15px;
        font-size: 21px;
        margin-top: 3px;
        display: block;
        cursor: pointer;
    }

   .selecionar-localidade__local-atual--mobile{
        padding: 8px 42px 8px 6%;
        font-size: 0.77em;
        display: block;
    }


    .selecionar-localidade__local-atual--mobile ul li{
        display: inline;
    }

    .selecionar-localidade__local-atual--mobile ul li:not(:first-child):before{
        content: ' / ';
    }

    .selecionar-localidade__voltar--mobile{
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 21px;
        font-size: 0.8em;
        margin: 25px 0 16px 6%;    
        display: block;
        padding: 5px 10px;
        cursor: pointer;
       /* visibility: hidden;*/
    }


    #selecionar-localidade #primeira-coluna.aberto{
        position: fixed;
    }

    #selecionar-localidade #segunda-coluna{
        left: 100%;
        position: absolute;
        margin-top: 0px;
        z-index: 23;
        width: 100%;
        top: 128px;
        background-color: #333333;

        border-top: 2px solid #252525;
        display: none;
    }

     #selecionar-localidade #segunda-coluna ul li{
        padding: 0px 6%;
    }

    .seletor-localidade__localidade-item, #selecionar-localidade #segunda-coluna ul li div{
        border-bottom: 1px solid #4D4D4D;
    }

    .segunda-coluna__titulo{
        color: #148C99;
        margin-left: 6%;
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 7px;
        display: block;
    }

    #selecionar-localidade #terceira-coluna{
        position: absolute;
        top: 128px;
        z-index: 23;
        width: 100%;
        left: 100%;
        border-top: 2px solid #252525;
        padding: 0px 6%;

        height: auto;
        min-height: 150vh;
    }
    #segunda-coluna.aberto + #terceira-coluna {
        left: 100%;
    }

    #segunda-coluna.aberto + #terceira-coluna.aberto {
        left: 0%;
    }

    #terceira-coluna.todos-municipios .total-encontrado{
        display: none;
    }

    #terceira-coluna .fa-times{
        display: none;
    }

    .terceira-coluna__titulo{
        color: #178AAD;
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 7px;
        display: block;
    }
    
    .terceira-coluna__menu--mobile{
        width: 112%;
        margin-left: -6%;
        display: table;
    }

    .terceira-coluna__menu--mobile div{
        float: left;
        width: 50%;
        text-align: center;
        border-bottom: 5px solid #666666;
        padding: 10px 0px;
        font-weight: bold;
        cursor: pointer;
    }

    .terceira-coluna__menu--mobile div.selecionado{
        border-color: #178AAD;
    }

    #terceira-coluna.todos-municipios .estado-selecionado{
        display: none;
    }
    
    #terceira-coluna .estado-selecionado{
        color: #178AAD;
    }

    #selecionar-localidade #terceira-coluna .estado-selecionado i{
        display: inline;
        margin-top: 2px;
        background-color: #178AAD;
        width: 14px;
        margin-left: 10px;
        border-radius: 14px;
        height: 18px;
        width: 18px;
        padding: 2px 4px;
        color: #333333;
        font-size: .9em;
    }

    #terceira-coluna .estado-selecionado span{
        display: none;
    }

    #selecionar-localidade #terceira-coluna input{
        margin-top: 25px;
    }

    .todos-municipios__titulo{
        color: #178AAD;
    }

    #selecionar-localidade #terceira-coluna #municipios {
        margin: 0px;
        width: 112%;
        margin-left: -6%;
    }

     #selecionar-localidade #terceira-coluna #municipios .conjunto .municipios ul li{
        width: 100%;
    }

    .por-estado__selecionar-estado .por-estado__selecionar-municipio{
        display: none;
    }

    .por-estado__selecionar-municipio .por-estado__selecionar-estado{
        display: none;
    }

    .todos-municipios .por-estado__selecionar-estado{
        display: none
    }

    .por-estado__selecionar-estado .selecione{
        color: #178AAD;
        margin-top: 25px;
        font-weight: bold;
        /* float: left; */
        width: 100%;
        /* clear: both; */
    }
    
    .por-estado__selecionar-estado{
        display: block;
    }

    .por-estado__selecionar-estado ul{
        list-style: none;
        margin-top: 11px;
    }

    .por-estado__selecionar-estado ul li{
        border-bottom: 1px solid #4D4D4D;
        padding: 10px 0%;
        cursor: pointer;
    }

    .por-estado__selecionar-estado ul li i{
        float: right
    }

    .municipio #segunda-coluna {
        display: none;
    }
}