<div id='selecionar-localidade' #selecionarLocalidade [class.aberto]="aberto" [class.estado]="states.estados" [class.municipio]="states.municipios">

    <div id="primeira-coluna" [class.aberto]="aberto">
        <div class="selecionar-localidade__voltar" (click)="fecharSeletor()">&lt; Voltar </div>

        <div class="selecionar-localidade__fechar--mobile" (click)="fecharSeletor()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <div class="selecionar-localidade__local-atual--mobile">
            <ul>
                <li *ngFor="let localidade of selecaoLocalidadesAtual | async">
                    <a [routerLink]="localidade?.link">{{localidade.sigla ? localidade.sigla.toUpperCase() : localidade.nome}}</a>
                </li>
            </ul>
        </div>

        <div class="selecionar-localidade__titulo">
            Selecionar local
        </div>

        <button class='selecionar-localidade__voltar--mobile' (click)="voltarMobile()">&lt; &nbsp; Voltar</button>

        <nav>
            <ul>                
                <li id='menu__brasil'>
                    <a class="seletor-localidade__link" routerLink="/brasil" routerLinkActive="active">
                        Brasil <i class="fa fa-chevron-right" aria-hidden="true"></i> 
                    </a>
                </li>
                <li id='menu__estado' (click)="setState('estados')" [class.selecionado]="states.estados">
                    Estados <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </li>
                <li id='menu__municipio' (click)="setState('municipiosTodos')" [class.selecionado]="states.municipios">
                    Municípios <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </li>
            </ul>
        </nav>
    </div>

    <div id="segunda-coluna" class='cor-fundo' [class.aberto]="states.estados || states.municipios">
        <div class="segunda-coluna__titulo">
            Estados
        </div>

        <ul>
            <li [class.selecionado]="!ufSelecionada" *ngIf="states.municipios" (click)="setState('municipiosTodos')">
                <div>
                    Todos <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </li>

            <template [ngIf]="states.estados">
                <li *ngFor="let uf of ufs">
                    <div>
                        <a style="display:block" [routerLink]="uf?.link + URLEnd">
                            {{uf.nome}} <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
            </template>

            <template [ngIf]="states.municipios">
                <li *ngFor="let uf of ufs" [class.selecionado]="ufSelecionada && ufSelecionada.codigo == uf.codigo" (click)="setState('municipiosMunicipios', uf)">
                    <div>
                        {{uf.nome}} <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </li>
            </template>
        </ul>

    </div>

    <div id="terceira-coluna" [ngClass] = "{
        'aberto': states.municipios,
        'todos-municipios': states.municipiosTodos,
        'por-estado__selecionar-estado': states.municipiosEstados,
        'por-estado__selecionar-municipio': states.municipiosMunicipios
    }">

        <div class="terceira-coluna__titulo">
            Municípios
        </div>

        <div class="terceira-coluna__menu--mobile">
            <div class="terceira-coluna__menu__todos" [class.selecionado]="states.municipiosTodos" (click)="setState('municipiosTodos')">Todos</div>
            <div class="terceira-coluna__menu__estado" [class.selecionado]="states.municipiosEstados || states.municipiosMunicipios" (click)="setState('municipiosEstados')">Por estado</div>
        </div>

        <div class="por-estado__selecionar-estado">
            <div class="selecione">
                Selecione o estado:
            </div>
            <ul>
                <li *ngFor="let uf of ufs" (click)="setState('municipiosMunicipios', uf)">
                    {{uf.nome}} <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </li>
            </ul>
        </div>

        <div class="por-estado__selecionar-municipio">
            <div class="estado-selecionado" *ngIf="states.municipiosMunicipios">
                <span>Municípios de </span>{{ufSelecionada?.nome}} 
                <i class="fa fa-times" aria-hidden="true" (click)="setState('municipiosEstados'); clearSearch()"></i>
            </div>
            <div class="estado-selecionado" *ngIf="states.municipiosTodos">
                <span>Todos os municípios</span>
                <i class="fa fa-times" aria-hidden="true" (click)="fecharSeletor()"></i>
            </div>
            <i class="fa fa-times" aria-hidden="true" (click)="fecharSeletor()"></i>
            <div class='total-encontrado'><span *ngIf="buscaInput.value && listaMunicipios.totalAtual >= 0">{{listaMunicipios.totalAtual}} de </span>{{listaMunicipios.base.length}} municípios</div>
            <br/>
            <input type="text" #buscaInput id='busca' placeholder="Qual município você procura?" (focus)="focusBuscaInputMobile()">
            <!--<button *ngIf="ufSelecionada"><a style="display: block">Acessar a UF {{ufSelecionada?.nome}}</a></button>-->

            <div id="municipios">
                <div class="estado" *ngIf="ufSelecionada">
                    <a style="display: block" [routerLink]="ufSelecionada.capital?.link">
                        <div class='circulo'>
                            <i class="fa fa-university" aria-hidden="true"></i>
                        </div>
                        {{ufSelecionada?.capital.nome}}
                    </a>
                </div>
                
                <p class="selecionar-localidade__mensagem" *ngIf="!!listaMunicipios.atual && listaMunicipios.atual.length == 0"> Nenhum município encontrado. </p>

                <div class="conjunto" *ngFor="let item of listaMunicipios.atual">
                    <div class="letra">
                        <div class="circulo">
                            {{item.letter.toUpperCase()}}
                        </div>
                    </div>
                    <div class="municipios">
                        <ul>
                            <li *ngFor="let municipio of item.municipios">
                                <a style="display:block" [routerLink]="municipio?.link + URLEnd" (click)="fecharSeletor()">
                                    {{municipio.nome}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>    
            </div>

            <div id="todos-municipios">
                <div class="todos-municipios__titulo" *ngIf="!buscaInput.value || buscaInput.value.length < 3">
                    Mais acessados:
                </div>

                <ul *ngIf="!buscaInput.value || buscaInput.value.length < 3 ">
                    <li *ngFor="let municipio of listaMunicipios.maisVistos">
                        <a style="display:block" [routerLink]="municipio?.link + URLEnd">
                            {{municipio.nome}} <span>{{municipio.parent.identificador.toUpperCase()}}</span>
                        </a>
                    </li>
                </ul>

                <template [ngIf]="!!buscaInput.value && buscaInput.value.length>=3">
                    <p class="selecionar-localidade__mensagem" *ngIf="!!listaMunicipios.atual && listaMunicipios.atual.length == 0"> Nenhum município encontrado. </p>
                    <div class="conjunto"  *ngFor="let item of listaMunicipios.atual">
                        <div class="letra">
                            <div class="selecionar-localidade__letra">
                                {{item.letter.toUpperCase()}}
                            </div>
                        </div>
                        <div class="municipios">
                            <ul>
                                <li *ngFor="let municipio of item.municipios">
                                    <a style="display:block" [routerLink]="municipio?.link  + URLEnd">
                                        {{municipio.nome}}  <span>{{municipio.parent.identificador.toUpperCase()}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> 
                </template>  
            </div>

        </div>

    </div>

    <div id="bg">
    </div>

</div>