<div>
            <h2>{{dados.tema}}</h2>
            
            <div>
                <div class="cartograma" *ngIf="!isMobile() && (_isOnScreen$ | async)">
                    <cartograma [localidade]="mun" [indicador]="indicador$ | async"></cartograma>
                </div>
            </div>
            
            <div class="cards">
                <panorama-card (click)="selectPainel(painel)"  *ngFor="let painel of dados" [dados]="painel" [localidade]="localidade" [selecionado]="painel?.indicadorId === localSelecionado"></panorama-card>
            </div>

        </div>
