.cards{
    content: "";
    display: table;
    clear: both;
    margin: 2% 5%;
}

.cartograma {
    margin: 3% 5%;
}

.legenda {
    display: inline-block;
    width: 29%;
}
         
@media screen and (max-width: 768px) {
    .cartograma{
        display: none;
    }
   
}         
 
 /*.cards{
            content: "";
            display: table;
            clear: both;
            margin: 2% 5%;
        }

        .cartograma {
            padding-top: 1em;
            display: inline-block;
            width: 70%;
            margin-left: 40px;
            float: left;
            margin-bottom: 20px;
}

.legenda {
    display: inline-block;
    width: 20%;
    float: left;
    margin-bottom: 20px;
    margin-top: 30px;
}

.legenda__item{
    width: 100%;
    max-width: 128px;
    margin-bottom: 15px;
    float: right;
}

.legenda__item__cor{
    width: 100%;
    height: 4px;
    margin-bottom: 3px;
}

.legenda__cor-1{
    background-color: #308BC9;
}

.legenda__cor-2{
    background-color: #1B779B;
}

.legenda__cor-3{
    background-color: #41B6C4;
}

.legenda__cor-4{
    background-color: #C7E9B4;
}

.legenda__item__label{
    font-size: .8em;
}

@media screen and (max-width: 768px) {
    .cartograma{
        display: none;
    }
}*/