.questionario{
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
}

.questionario__container{
    box-shadow: 0px 0px 15px #555;
    background-color: white;
    display: inline-block;
    position: absolute;
    padding: 15px 30px;
    width: 550px;
    left: calc(50% - 225px);
}

.questionario__aba{
    text-align: left;
}

.questionario__fechar{
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    position: absolute;
    right: 15px;
    top: 18px;
}

.questionario__form{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s;
    text-align: left;
}

.questionario__form--aberto{
    max-height: 500px;
}

.questionario__item{
    display: block;
    width: 100%;
    margin-bottom: 7px;
    padding: 5px 10px;
}

.questionario__item:last-child{
    margin-bottom: 0;
}

.questionario__botao{
    background-color: transparent;
    color: #4E91D9;
    border: 1px solid #4E91D9;
    border-radius: 21px;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

.questionario__escala{
    display: table;
    width: 100%;
    margin: 15px 0px;
}

.questionario__escala-label{
    display: table-cell;
}

.questionario__escala-radio{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 13%;
}

.questionario__pergunta{
    font-weight: bold;
    margin: 15px 0px;
}

.questionario__instrucao{
    margin: 15px 0px;
}

.questionario__respostas {
    padding-left: 15px;
    margin: 15px 0px;
}

.questionario__input {
    
}

.questionario__textarea {
    width: 100%;
    margin: 15px 0px;
    display: block;
}

.questionario__invisivel{
    visibility: hidden;
}

.questionario__direita{
    text-align: right;
}

.questionario__escondido{
    display: none;
}



@media print { 
    .questionario{
        display: none;
    }
}