<div class="grafico">
    <div class="loading" *ngIf="isLoading()">
        <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
    </div>

    <div>
        <!--<div *ngIf="datasets | async">-->

        <canvas *ngIf="isValid()" #grafico baseChart class="chart" width="510" height="220" [datasets]="dados" [labels]="labelsEixoX"
            [options]="this.options" [chartType]="tipoGrafico" [colors]="this.colors[tipoGrafico]"></canvas>

        <!--</div>-->
    </div>

    <div class="legenda">

        <div class="legenda__item">
            <div class="legenda__cor faixa1"></div>
            <p class="legenda__texto">Vila Bela de Santíssima Trindade</p>
            
        </div>

        <div class="legenda__item">
            <div class="legenda__cor faixa2"></div>
            <p class="legenda__texto">bla</p>
        </div>

        <div class="legenda__item">
            <div class="legenda__cor faixa3"></div>
            <p class="legenda__texto">bla</p>
        </div>
       


    </div>
</div>