<div class="grafico">
    <div class="loading" *ngIf="!(datasets$ | async)">
        <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
    </div>

    <div >
        <!--<div *ngIf="datasets | async">-->
            
            <canvas *ngIf="datasets$ | async" #grafico
                baseChart
                class="chart"
                width="510" 
                height="220"
                [datasets]="datasets$ | async"
                [labels]="labels$ | async"
                [options]="options$ | async"
                [chartType]="tipo"
                [colors]="colors[tipo]"
            ></canvas>

        <!--</div>-->
    </div>

    <div class="botao-container">
        <div class="botao" *ngIf="indicadores && indicadores.length && indicadores[0].indicador && indicadores[0].indicador.fontes && indicadores[0].indicador.fontes.length">
            <div class="area-click" [class.area-click--visivel]="mostrarFontes" (click)="mostrarFontes=false"></div>
            <button (click)="mostrarFontes=true">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Fontes
            </button>
            <div *ngIf="mostrarFontes" class="fontes__lista-container">
                <ol>
                    <li *ngFor="let fonte of indicadores[0].indicador?.fontes;">{{ fonte }}</li>
                </ol>
            </div>
        </div>

        <div class="botao" *ngIf="indicadores && indicadores.length && indicadores[0].indicador && indicadores[0].indicador.notas && indicadores[0].indicador.notas.length">
            <div class="area-click" [class.area-click--visivel]="mostrarNotas" (click)="mostrarNotas=false"></div>
            <button (click)="mostrarNotas=true">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Notas
            </button>
            <div *ngIf="mostrarNotas" class="notas__lista-container">
                <ol>
                    <li *ngFor="let nota of indicadores[0].indicador?.notas;">{{ nota }}</li>
                </ol>
            </div>
        </div>

        <div class="botao" *ngIf="indicadores && indicadores.length && _pesquisasConfig.isValida(indicadores[0].pesquisaId)">
            <button (click)="navegarTabela();"><i class="fa fa-table" aria-hidden="true"></i> Tabela</button>
        </div>
    </div>
</div>
