.loading{
    padding-top: 30px;
    color: #999;
    text-align: center;
    vertical-align: middle;
}

.grafico{
    padding: 2% 0;
}

button{
    border: none;
    background-color: #E6E6E6;
    padding: 2px 3px;
    font-size: .8em;
}

button .fa{
    color: #1B779B;
}

.notas__lista-container {
    margin-left: 128px;
    position: absolute;
    background: #fff;
    padding: 10px 15px 15px 26px;
    width: 200px;
    border: 1px solid #ccc;
    z-index: 2;
    margin-top: 56px;
    font-size: .9em;
}

.fontes__lista-container {
    position: absolute;
    background: #fff;
    padding: 10px 15px 15px 26px;
    width: 200px;
    border: 1px solid #ccc;
    z-index: 2;
    font-size: .9em;
    margin-left: -138px;
}

.area-click{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    display: none;
}

.area-click--visivel{
    display: block;
}

.botao{
    display: inline-block;
}

.botao button{
    cursor: pointer;
}

.botao-container{
    text-align: right;
    margin-top: 25px;
}



/*legenda*/

.legenda{
    width: calc(100% - 70px);
    max-width: 800px;
    min-height: 100px;
    margin: auto;
    margin-left: 70px;
    margin-top: 20px;
}

.legenda__item{
    width: 25%;
    float: left;
    margin-top: 6px;
    height: 30px;
}

.legenda__cor{
    width: 100%;
    height: 6px;
}

.legenda__item--sem-informacao{
    width: 100%;
    float: left;
    margin-top: 10px;
    height: 22px;
    
}

.legenda__item--municipio{
    margin-left: 0px;
    width: 100%;
}

.legenda__item--municipio i{
    margin-right: 8px;
    text-align: center;
    color:#ff1f76;
    float:left;
    width:22px;
    height:25px;
}

.legenda__item--sem-informacao .legenda__cor{
    float: left;
    width: 20px;
    height: 20px;
}

.legenda__item--sem-informacao .legenda__texto{
    float: left;
    width: calc(100% - 30px);
    margin-left: 10px;
    /* margin-top: -3px; */
    /* line-height: 12px; */
}

.legenda__municipio {
	font-size: 0.8em;
	font-weight: bold;
	background-color: #EBEBEB;
	padding:5px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	position: absolute;
    }


/*faixas de cores*/

.faixa4{
    background-color: #8CC63F;
    fill: #8CC63F;
	border-left: 3px solid #fff;
}

.faixa3{
    background-color: #9F55A3;
    fill: #9F55A3;
	border-left: 3px solid #fff;
}

.faixa2{
    background-color: #F7931E;
    fill: #F7931E;
	border-left: 3px solid #fff;
}

.faixa1{
    background-color: #6BC9C7;
    fill: #6BC9C7;
	
}
