<!--<div class="conteudo__dados--com-scroll">-->
<div class="submenu-container">
    <div class="submenu-close" (click)="closeMenu.emit()"></div>
    <ul class="submenu">
        <li class="submenu__item" *ngFor="let pesquisa of pesquisas; let i = index;"
            [class.submenu__item--selecionado]="pesquisa.id == idPesquisaSelecionada || pesquisa.visivel">
            <!--botão-->
                <p class="submenu__texto" (click)="onClick(i)">
                <!--<span class="submenu__texto">-->
                    {{ pesquisa.descricao }}
                    <!--</span>-->
                <i class="fa fa-chevron-right submenu__seta" aria-hidden="true"
                    [class.fa-chevron-right]="!pesquisa.visivel"
                    [class.fa-chevron-down]="pesquisa.visivel"
                    [class.submenu__seta--selecionado]="pesquisa.visivel"
                    ></i>
            </p>
            <!--submenu-->
            <ul class="submenu__submenu" *ngIf="pesquisa.indicadores && pesquisa.visivel">
                <li class="submenu__subitem" *ngFor="let indicador of pesquisa.indicadores;" [class.submenu__subitem--selecionado]="indicador.id == idIndicadorSelecionado">
                    <p class="submenu__subtexto"><a routerLink="{{ baseURL + pesquisa.id + '/' + indicador.id }}" [queryParams]="{detalhes: 'true'}" routerLinkActive="active">
                        <!--<span class="submenu__texto">-->
                            {{ indicador.indicador }}
                            <!--</span>-->
                        <i class="fa fa-chevron-right submenu__subseta" aria-hidden="true" [class.submenu__subseta--selecionada]="indicador.id == idIndicadorSelecionado"></i>
                    </a></p>
                    <span class="submenu__separador"></span>
                </li>
                <!--<li class="submenu__separador"></li>-->
            </ul>
            <span class="submenu__separador"></span>
        </li>
        <!--<li class="submenu__separador"></li>-->
    </ul>
</div>
<!--</div>-->
