<div class="container">
    <div class="mapa" *ngIf="(malha$ | async)?.viewBox">
        <svg [attr.viewBox]="(malha$ | async)?.viewBox" preserveAspectRatio="xMidYMid meet">
            <svg:g class="uf" transform="scale(1 -1)">
                <svg:g regiao-mapa *ngFor="let item of (malha$ | async)?.geometries; trackBy: trackByFn" [codigo]="item.codigo" [nome]="item.nome"
                    [link]="item.link" [polygons]="item.polys" [valor]="((indicador$ | async)?.getResultadoByLocal(item.codigo) | async)?.valorValidoMaisRecente"
                    [quartis]="quartis$ | async">
                </svg:g>
            </svg:g>
        </svg>
    </div>

    <div class="legenda" *ngIf="valores.length > 0">
        <!--<div class="legenda__item" *ngFor="let valor of quartis$ | async; let i = index">-->
        <div class="legenda__item" *ngFor="let valor of valores; let i = index">
            <div class="legenda__cor faixa{{i+1}}"></div>
            <p class="legenda__texto" *ngIf="i == 0">0 - {{ valor | resultado: dado?.unidade?.id }} {{ indicador?.unidade.nome }}</p>
            <p class="legenda__texto" *ngIf="i > 0">{{ valores[i - 1] | resultado: dado?.unidade?.id }} - {{ valor | resultado: dado?.unidade?.id }} {{indicador?.unidade.nome}}</p>
        </div>
        <div class="legenda__item">
            <div class="legenda__cor faixa{{valores.length + 1}}"></div>
            <p class="legenda__texto">{{ valores[valores.length - 1] | resultado: dado?.unidade?.id }} {{indicador?.unidade.nome}} ou mais</p>
        </div>
    </div>
</div>