<div class="container">

    <span class="local-atual">{{indicador?.nome}}</span>

    <div class="mapa" *ngIf="(malha$ | async)?.viewBox">
        <div class="mapa__label--mun-selecionado" [style.text-align]="getPercIconPosition((malha$ | async)?.bbox, getCenter((malha$ | async)?.geometries, localidade.codigo)).align" [style.padding-left.%]="getPercIconPosition((malha$ | async)?.bbox, getCenter((malha$ | async)?.geometries, localidade.codigo)).left-5" [style.padding-right.%]="getPercIconPosition((malha$ | async)?.bbox, getCenter((malha$ | async)?.geometries, localidade.codigo)).right-5"><span class="tip">{{localidade?.nome}}</span></div>
        <svg [attr.viewBox]="(malha$ | async)?.viewBox" preserveAspectRatio="xMidYMid meet">
            <svg:g class="uf" transform="scale(1 -1)">
                <svg:g #mun regiao-mapa *ngFor="let item of (malha$ | async)?.geometries; trackBy: trackByFn" [codigo]="item.codigo" [nome]="item.nome"
                    [link]="item.link" [polygons]="item.polys" [valor]="((indicador$ | async)?.getResultadoByLocal(item.codigo) | async)?.valorValidoMaisRecente"
                    [quartis]="quartis$ | async" (mouseover)="municSelected = [item.nome, mun.valor, item.center]" (mouseleave)="municSelected = ''" vector-effect="non-scaling-stroke">
                </svg:g>
                <svg:g class="ic-mun-selecionado" [attr.transform]="'translate('+getCenter((malha$ | async)?.geometries, localidade.codigo).join(' ')+')'">
                    <svg:path class="ic-mun-selecionado--path" [attr.d]="'M0 0v'+getIconHeight((malha$ | async)?.bbox, getCenter((malha$ | async)?.geometries, localidade.codigo))" vector-effect="non-scaling-stroke"></svg:path>
                    <!--<svg:circle class="ic-mun-selecionado--circle-bottom" cx="0" cy="0" r="0.03"></svg:circle>-->
                    <svg:circle class="ic-mun-selecionado--circle-top" cx="0" [attr.cy]="getIconHeight((malha$ | async)?.bbox, getCenter((malha$ | async)?.geometries, localidade.codigo)) - 0.025" r="0.025"></svg:circle>
                </svg:g>
            </svg:g>
        </svg>
    </div>

    <div class="legenda" *ngIf="valores.length > 0">
        <!--<div class="legenda__item" *ngFor="let valor of quartis$ | async; let i = index">-->
        <div class="legenda__item" *ngFor="let valor of valores; let i = index">
            <div class="legenda__cor faixa{{i+1}}"></div>
            <p class="legenda__texto" *ngIf="i == 0">0 - {{ valor | resultado: dado?.unidade?.id }} {{ indicador?.unidade.nome }}</p>
            <p class="legenda__texto" *ngIf="i > 0">{{ valores[i - 1] | resultado: dado?.unidade?.id }} - {{ valor | resultado: dado?.unidade?.id }} {{indicador?.unidade.nome}}</p>
        </div>
        <div class="legenda__item">
            <div class="legenda__cor faixa{{valores.length + 1}}"></div>
            <p class="legenda__texto">{{ valores[valores.length - 1] | resultado: dado?.unidade?.id }} {{indicador?.unidade.nome}} ou mais</p>
        </div>

        <div class="legenda__item">
            <p class="legenda__texto"><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#d10046; float:left; width:22px;"></i> Município selecionado</p>
        </div>

        <div class="legenda__item" *ngIf="!!municSelected && municSelected != ''">
            <p class="legenda__municipio">{{municSelected[0]}}:<span style="font-weight:normal; font-style:italic;"> {{municSelected[1]}} {{indicador?.unidade.nome}}</span></p>
        </div>

    </div>

</div>